@page "{tid:int}-{p:int}.html"
@inject ICMSService _cmsService
@inject IContentGroupService _contentService
@{
    ViewData["Tag"] = 3;
    ViewData["Title"] = "鸿泰动态";
    ViewData["Desc"] = "鸿泰动态";
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;


}
@section head{
    <link href="/Content/css/news_center.css" rel="stylesheet" />
}

@functions{
    private int pageSize = 10;

    public int NewsTypeId { get; set; }

    public int PageIndex { get; set; }

    public int PageCount { get; set; }

    public List<Dictionary<string, object>> dict { get; set; }

    public List<DataLibrary.SiteModelColumn> NewsType { get; set; }

    public new int Page { get; set; }

    public void OnGet(int? tid, int? p)
    {
        this.Page = p ?? 1;
        var Con = _cmsService.IcontentColumnDataService.GetContentColumnDataList("鸿泰动态",1,100);
        if (Con!=null&&Con.Count>0)
        {
            this.PageCount = _cmsService.IcontentColumnDataService.GetContentCount("鸿泰动态");
            int Cid = _contentService.GetSiteCategoryByName("鸿泰动态").Id;
        }
    }
}
<!--------------------------面包屑------------------------------>
<div class="location_box">
    <div class="location">
        <span>&nbsp;新闻中心</span>
        <span>您当前的位置： 首页 > </span>
        <div class="clearfix"></div>
    </div>
</div>
<!--------------------------新闻中心------------------------------>
<div class="news_center">
    <div class="left_nav">
        <div class="news_nav">
            <a href="/News/0-1.html" class="news_nav1">
                <span class="pic cssr_news_center1 span1"></span>
                <span class="pic cssr_news_white1 span2"></span>
                <h1>企业新闻</h1>
                <div class="clearfix"></div>
            </a>
            <a href="/News/Dynamic/0-1.html" class="news_nav1 news_current">
                <span class="pic cssr_news_center2 span1"></span>
                <span class="pic cssr_news_white2 span2"></span>
                <h1>行业动态</h1>
                <div class="clearfix"></div>
            </a>
            <a href="/News/Hotspot/0-1.html" class="news_nav1">
                <span class="pic cssr_news_center3 span1"></span>
                <span class="pic cssr_news_white3 span2"></span>
                <h1>本周热点</h1>
                <div class="clearfix"></div>
            </a>
        </div>
        @{
            var Hots = _cmsService.IcontentColumnDataService.GetContentColumnDataList("鸿泰热点", 1, 4);
            if (Hots != null)
            {

                <div class="news_hot">
                    <h2>热点新闻</h2>
                    @for (var i = 0; i < Hots.Count; i++)
                    {
                        @if (Hots[i]["Title"] != null)
                        {
                            <a href="/News/NewsDetail/@Html.Raw(Hots[i]["cid"]+"/"+Hots[i]["Id"]+".html")">
                                @Html.Raw(Util.Extensions.RemoveHtml(Hots[i]["Title"].ToString()))
                            </a>
                        }
                    }
                </div>
            }
        }
    </div>

    <div class="news_list">
        <div>
            @{
                var News = _cmsService.IcontentColumnDataService.GetContentColumnDataList("鸿泰动态", Page, pageSize);
                if (News != null)
                {
                    for (var i = 0; i < News.Count; i++)
                    {
                        <div class="news_row">
                            <div class="date">
                                <small>@Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(News[i]["Createtime"])).ToString("MM-dd")</small>
                                <span>@Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(News[i]["Createtime"])).ToString("yyyy")</span>
                                <span class="pic cssr_date"></span>
                            </div>
                            <a href="/News/NewsDetail/@Html.Raw(News[i]["cid"]+"/"+News[i]["Id"]+".html")" class="news">
                                <h3>@Html.Raw(News[i]["Title"])</h3>
                                @if (News[i]["Content"] != null)
                                {
                                    var Con = Util.Extensions.RemoveHtml(News[i]["Content"].ToString());
                                    if (Con.Length > 100)
                                    {
                                        <p>@Html.Raw(Con.Substring(0, 100) + "...")</p>
                                    }
                                    else
                                    {
                                        <p>@Html.Raw(Con)</p>
                                    }
                                }
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    }
                }
            }
        </div>
        <div id="Pagination">
            @await Component.InvokeAsync("PageList", new { PageSize = this.pageSize, PageIndex = this.Page, PageCount = this.PageCount, PageUrl = Model.NewsTypeId + "-{0}.html", PageText = "{0}", ShowCount = 5, ShowAll = false })
        </div>

    </div>
    <div class="clearfix"></div>
</div>