@page
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 2;
    ViewData["Title"] ="产品";
    ViewData["Desc"] = "产品";
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
}
@section head
    {
    <link href="/Content/css/product.css" rel="stylesheet" type="text/css" />
}

<div class="topclass">
    <p>
        <span class="allProduct">
            <img src="/Content/images/qiye.jpg" />
            企业产品
        </span>
    </p>
</div>

<div class="ImgBody">
    @{
        var qproduct = _cmsService.IcontentColumnDataService.GetContentColumnDataList("企业产品", 1, 15);

        if (qproduct != null)
        {
            for (var i = 0; i < qproduct.Count; i++)
            {
    <div @(i % 2 == 0 ? "class=ImgDiv" : "class=ImgDiv2")>
        <div class="newsTitle">@qproduct[i]["productname"]</div>
        @if (Util.Extensions.SafeString(qproduct[i]["Image"]) != string.Empty)
                    {
                        var Images = qproduct[i]["Image"].ToString().Split(',');
                        for (var j = 0; j < Images.Length; j++)
                        {
                    <img alt="@Html.Raw(qproduct[i]["productname"])" title="@Html.Raw(qproduct[i]["productname"])" src="@Images[j]" @(j % 2 == 0 ? "class=product_img1" : "class=product_img2") />
                        }
                    }
        <div @(i < qproduct.Count - 2 ? "class=bottom_border" : "")></div>
    </div>
            }
        }

    }
</div>

<div class="topclass">
    <p>
        <span class="allProduct">
            <img src="~/Content/images/jituan.jpg" />
            集团产品
        </span>
    </p>
</div>
<div class="ImgBody" style="margin-bottom:90px;">
    @{

        var product = _cmsService.IcontentColumnDataService.GetContentColumnDataList("集团产品", 1, 15);
        if (product != null)
        {
            for (var i = 0; i < product.Count; i++)
            {
                <div style="display:inline-block">
                    <div class="newsTitle">@product[i]["productname"]</div>
                    <div class="jcp_imgDiv">
                        @if (Util.Extensions.SafeString(product[i]["Image"]) != string.Empty)
                        {
                            var Images = product[i]["Image"].ToString().Split(',');
                            @for (var j = 0; j < Images.Length; j++)
                            {
                                <img alt="@Html.Raw(product[i]["productname"])" title="@Html.Raw(product[i]["productname"])" src="@Images[j]" class="jcp_img" />
                            }
                        }
                    </div>
                    <div class="content_table">@Html.Raw(product[i]["content"])</div>
                </div>
                <div @(i < product.Count - 1 ? "class=bottom_border" : "") style="margin-top:10px;"></div>
            }

        }
    }
</div>
