@inject Common.IService.IUserService _userService
@inject Common.IService.ICMSService _cmsService
@inject Common.IService.IContentGroupService _contentService
@{
    var SiteBasic = _cmsService.GetBasic();
    var Tag = ViewData["Tag"] as string;
    var MngSetting = _cmsService.GetSetting();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @if (ViewData["Title"] == null)
    {
        <title>@Html.Raw(ViewBag.SiteBasic.SiteTitle)</title>
    }
    else
    {
        <title>@Html.Raw(ViewData["Title"] + "-" + ViewBag.SiteBasic.CompName)</title>
    }
    @if (ViewData["Desc"] == null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.SiteBasic.SiteDesc)" />
    }
    else
    {
        <meta name="description" content="@Html.Raw(ViewData["Desc"]+"-"+ViewBag.SiteBasic.CompName)" />
    }

    <link rel="stylesheet" href="/Content/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/base.css">
    <script src="/Content/lib/js/jquery.min.js" type="text/javascript"></script>
    <script src="/Content/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/js/jquery.contentcarousel.js"></script>
    @RenderSection("head", false)
    @Html.Raw(ViewBag.SiteBasic.StatsCode)
</head>
<body>
    <div class="header_box">
        <nav class="navbar top_box">
            <div class="container-fluid top header">
                <div class="row">
                    <div class="col-xs-10">
                        <img onclick="fun()" src="@ViewBag.SiteSetting.Domain_PC.Substring(0,ViewBag.SiteSetting.Domain_PC.Length-1)@ViewBag.SiteBasic.Logo" width="129" />
                        <span class="service_hotline">@SiteBasic.LogoText</span>
                    </div>

                    @if (_userService.IsAuth)
                    {
                        <div class="col-xs-2 text-right right" style="margin-left: -30px;">
                            <a href="@ViewBag.SiteSetting.Domain_WAPManage">
                                <img src="/Content/images/head_portrait_before.png" width="21" style="position:absolute"/>
                                @if (_userService.IsManageMember && _userService.ApplicationUser.Mng_admin != null)
                                {
                                    <span id="spa" style="position:absolute;right:-1px">@Html.Raw(_userService.ApplicationUser.Mng_admin.RealName)</span>
                                }
                                else
                                {
                                    <span id="spa" style="position:absolute;right:-1px">@Html.Raw(_userService.SaleSellerUser.Name)</span>
                                }
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-2 text-right right">
                            <a href="/Login">
                                <img src="/Content/images/head_portrait_before.png" width="21" style="margin-left:0px" />
                            </a>
                        </div>
                    }
                </div>

            </div>

            <div class="container-fluid top submenu">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div>
                            @if (int.Parse(ViewData["Tag"].ToString()) == 2)
                            {
                                ViewData["Title"] = "产品查询";
                            }
                            else if (int.Parse(ViewData["Tag"].ToString()) == 0)
                            {
                                ViewData["Title"] = "首页";
                            }
                            else if (int.Parse(ViewData["Tag"].ToString()) == 4)
                            {
                                ViewData["Title"] = "产品查询";
                            }
                            @ViewData["Title"]
                        </div>
                        <div class="collapsed rightsidebar" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                            <img src="/Content/images/nav.png" width="27.5" />
                        </div>
                        <span class="triangle_border_top"></span>
                        <div class="clearfix"></div>
                        <div class="collapse dropdown_menu" id="nav-collapse">
                            <div><a href="/">首页</a></div>
                            <div><a href="/Abount_us">公司简介</a></div>
                            <div><a href="/Honor">公司荣誉</a></div>
                            <div><a href="/News/0-1.html">新闻中心</a></div>
                            <div><a href="/Product">产品中心</a></div>
                            <div><a href="/Sales">营销网络</a></div>
                            <div><a href="/Service">服务中心</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--------------------------banner------------------------------>
        @if (int.Parse(ViewData["Tag"].ToString()) == 0)
        {
            <div>
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                @{
                                    var News = _cmsService.IcontentColumnDataService.GetContentColumnDataList("手机端轮播图", 1, 1);
                                    if (News != null)
                                    {
                                        for (int i = 0; i < News.Count; i++)
                                        {
                                            @if (News[i]["Image"].SafeString() != string.Empty)
                                            {
                                                var arr = News[i]["Image"].ToString().Split(',');
                                                for (var j = 0; j < arr.Count(); j++)
                                                {

                                                    <div class="@Html.Raw(j==0?"item active":"item")">
                                                        <img class="homebanner" src="@MngSetting.Domain_PC.Substring(0, MngSetting.Domain_PC.Length - 1)@arr[j]" width="100%" />
                                                    </div>

                                                }
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="banner">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/Content/images/services_banner.jpg" alt="First slide" />
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <!--------------------------导航------------------------------>
    <nav class="navbar navbar-fixed-bottom">
        <div class="container-fluid nav-bottom">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <ul>
                        <li>
                            <a href="/">
                                <img src="/Content/images/index.png" width="25" />
                                <h1>首页</h1>
                            </a>
                        </li>
                        <li>
                            <a href="/Product">
                                <img src="/Content/images/product.png" width="25" />
                                <h1>产品</h1>
                            </a>
                        </li>
                        <li>
                            <a href="/Service">
                                <img src="/Content/images/service.png" width="25" />
                                <h1>服务</h1>
                            </a>
                        </li>
                        <li>
                            <a href="/Sales">
                                <img src="/Content/images/sales.png" width="25" />
                                <h1>营销</h1>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div>
        @RenderBody()
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav-bottom ul li").eq(@ViewBag.Tag).addClass("current");
        });

        function fun() {
            window.location.href = "/";
        }
    </script>

    <script type="text/javascript">
        var string_str = $('#spa').html();
        var new_str = '';
        if (string_str.length >= 2) {
            new_str = string_str.substring(0, 2) + '.';
        }
        $('#spa').html(new_str);
    </script>

    <div class="container-fluid footer">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="footer_row">@Html.Raw(ViewBag.SiteBasic.Copyright)</p>
                <p><a href="http://www.beian.miit.gov.cn/" target="_blank" rel="nofollow">@Html.Raw(ViewBag.SiteBasic.Icp)</a>&nbsp;&nbsp;技术支持：<a href="http://www.31goods.com" target="_blank" style="color:#4c4c4c;">商交宝</a></p>
            </div>
        </div>
    </div>
</body>
</html>
