@page
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 3;
    ViewData["Title"] = "服务";
    ViewData["Desc"] = "服务";
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
}

<div class="stipulation_width container_box">
    <div class="portion testimonial">
        <div class="title_bar">
            <img src="/Content/images/testimonial.png" />
            <h1>产品质量证明书</h1>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <form id="form1" method="post" onsubmit="return submitSearch()">
                <h2>涟钢振兴《产品质量证明书》网上查询</h2>
                <input class="input_box" type="text" name="batcode" id="batcode" placeholder="输入产品批号" />
                <input class="input_box" type="password" name="validcode" id="validcode" placeholder="输入批号校验码" />
                <div><input class="common_button query" type="submit" value="查询" /></div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    @{
        var companyhotline = _cmsService.GetSinglePage("企业服务热线");
        if (companyhotline != null)
        {
            <div class="portion hotline">
                <div class="title_bar">
                    <img src="/Content/images/hotline.png" />
                    <h1>@Html.Raw(companyhotline.Title)</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="content">
                    <div class="row_box left_row">
                        @Html.Raw(companyhotline.Content)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    }
    @{
        var jcompanyhotline = _cmsService.GetSinglePage("集团服务热线");
        if (jcompanyhotline != null)
        {
            <div class="portion hotline">
                <div class="title_bar">
                    <img src="/Content/images/hotline.png" />
                    <h1>@Html.Raw(jcompanyhotline.Title)</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="content">
                    <div class="row_box left_row">
                        @Html.Raw(jcompanyhotline.Content)
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    }
    @**@


    <div class="portion address">
        <div class="title_bar">
            <img src="/Content/images/address.png" />
            <h1>公司地址</h1>
            <div class="clearfix"></div>
        </div>
        <div class="content">
            <div style="width:560px;height:360px;border:#ccc solid 1px;" id="dituContent"></div>
            <p id="ComAddress">@Html.Raw(siteBasic.CompAddress)</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    var ComAddress = $("#ComAddress").html();
    //创建和初始化地图函数：
    function initMap() {
        //var icon = new BMap.Icon("http://map.baidu.com/image/us_mk_icon.png", new BMap.Size(100, 100));
        createMap();//创建地图
        setMapEvent();//设置地图事件
        //addMapControl();//向地图添加控件
    }

    //创建地图函数：
    function createMap() {
        var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
        var localSearch = new BMap.LocalSearch(map);
        localSearch.enableAutoViewport();
        localSearch.setSearchCompleteCallback(function (searchResult) {
            var new_point = new BMap.Point(@siteBasic.MapLocation);
            var marker = new BMap.Marker(new_point);  // 创建标注
            map.addOverlay(marker);              // 将标注添加到地图中
           // marker.addEventListener("click", function () {
           //     this.openInfoWindow(infoWindow);
            //});
            map.centerAndZoom(new_point, 17);
        });
        localSearch.search(ComAddress);
        window.map = map;//将map变量存储在全局
    }

    //地图事件设置函数：
    function setMapEvent() {
        map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
        map.enableScrollWheelZoom();//启用地图滚轮放大缩小
        map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
        map.enableKeyboard();//启用键盘上下左右键移动地图
    }
    initMap();//创建和初始化地图
</script>
<script type="text/javascript">

    layui.use('layer', function () {
        var $ = layui.jquery, layer = layui.layer;
    });
    function submitSearch() {
        if (!$("#batcode").val()) {
            $("#batcode").focus();
            layer.msg('请输入产品批号！', { icon: 2 });
            return false;
        }
        if (!$("#validcode").val()) {
            $("#validcode").focus();
            layer.msg('请输入批号校验码！', { icon: 2 });
            return false;
        }
        var url = '/Service/SearchProduct';
        $.ajax({
            type: "POST",
            url: url,
            data: $("#form1").serialize(),
            success: function (re) {
                if (re == "success") {
                    window.location.href = "Detail?batcode=" + $("#batcode").val() + "&validcode=" + $("#validcode").val();
                } else {
                    layer.msg(re, { icon: 2 });
                }
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                layer.msg('操作失败，出现服务器错误！', { icon: 2 });
            }
        });
        return false;
    }
</script>

@section head
    {
    <link type="text/css" href="/js/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/layui/layui.js"></script>
    <link href="/Content/css/service.css" rel="stylesheet" />
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=507E36FA8f5d0bf5b491248d86d04bf7"></script>
}






