@page
@model WarrantyManage.Pages.Manage.Site.SinglePageModel
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form1").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

            $("#form1").find("a").each(function () {
                if ($(this).html() == '@ViewData["ReportType"]')
                {
                    $(this).css("font-weight","600");
                }
            });

            //$("#chkall").selall("id");
        });
        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        }
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }

        .hand {
            cursor: pointer;
        }

        .tipinfo {
            margin-left: 20px;
        }

        .forminfo li label {
            width: 50px;
        }

        select {
            opacity: 1;
            border: 1px solid #ced9df;
            width: 157px;
            height: 34px;
            line-height: 34px;
            padding-left: 5px;
        }
        .layui-table tbody tr {
            cursor: pointer;
        }

        #form1 lable {
            font-size: 14px;
            height: 38px;
        }

        input.dfinput {
            height: 38px;
        }
    </style>
</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0)">单页管理</a></li>
            <li><a href="">单页列表</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools" style="height: auto;">
            <form method="get" id="form1">
                <ul class="seachform">
                    <li class="notDistributorCss">
                        <label>名称：</label>
                        <input name="keyword" type="text" class="dfinput" style="width: 128px;" value="@ViewData["keyword"]" />
                    </li>
                    <li><label>&nbsp;</label><button id="sb" name="sb" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button></li>
                </ul>
            </form>



        </div>
        <div style="float:right;position: absolute;top: 48px; right: 10px;">
            <label>&nbsp;</label>
            <button id="add" name="add" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
            <button id="delete" name="delete" class="layui-btn layui-btn-danger"><i class="layui-icon"></i> 删除</button>
        </div>

        <table class="layui-table">
            <thead>
                <tr>
                    <th><input name="" type="checkbox" value="" id="chkall" /></th>
                    <th>编号</th>
                    <th>标题</th>
                    @*<th>内容</th>*@
                    <th>企业摘要</th>
                    <th>发布时间</th>
                    @*<th>操作</th>*@

                </tr>
            </thead>
            <tbody>
                @{
                    var type = Model.List;
                    foreach (var ne in type)
                    {
                        <tr onclick="Editor(@ne.Id)">
                            <td onclick="stopchoose()"><input name="id" type="checkbox" value="@ne.Id" /></td>
                            <td>@ne.Id</td>
                            <td>@ne.Title</td>
                            @*<td>@ne.Content</td>*@
                            <td>@ne.Descrption</td>
                            <td>@ne.Createtime.ToLong().GetDateTimeFromUnixTime().ToString("yyyy-MM-dd hh:mm")</td>
                            @*<td><a onclick="Editor(@ne.Id)" class="hand">[修改]</a></td>*@

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        var addformhtml = $("#addbox").html();
        var addformwidth = $("#addbox").width();
        var Tag = $("#Tag").val();
        $("#addbox").html("");

        $('.layui-table tbody tr:odd').addClass('odd');

        function getSelectedIds() {
            var selectedids = "";
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedids += $(this).val() + ",";
            });

            return selectedids;
        }

        function getSelectedId() {
            var selectedid = 0;
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedid = $(this).val();
            });

            return selectedid;
        }

        $("#sb").click(function () {
            $("#form1").submit();
        });

        $("#add").click(function () {
            window.location.href = "/Manage/Site/AddSinglePage" ;
            $("#hiddType").val("add");
        });
        function Editor(id) {
            window.location.href = "/Manage/Site/EditorSinglePage?Id=" + id;
        }
        $("#delete").click(function () {
            var selectedids = getSelectedIds();

            if (selectedids.length <= 0) {
                layer.msg('请选中所需删除行！', { icon: 2 });
                return;
            }

            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: "/SinglePage/Delete",
                    data: "Ids=" + selectedids,
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('操作失败，请稍候重试', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })



    </script>
</body>
</html>
