@page
@model WarrantyManage.Pages.Manage.Settings.BaseQuanlityModel
@inject DataLibrary.DataContext _db
<html>
<head>
    <meta charset="utf-8">
    <title>质量指标设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });

            $("#form2").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });
        });
    </script>
    <style>
        .layui-table tr:nth-child(odd) {
            background: #F4F4F4;
        }

        /*.layui-table td:nth-child(even) {
            color: #C00;
        }*/

        dl, dt, dd, span {
            margin: 0;
            padding: 0;
            display: block;
            text-align: center;
        }

        .layui-table td div, .layui-table th div {
            min-width: 85px;
        }

        .mainleft {
            padding-right: 0;
        }

        .tipinfo {
            margin-left: 20px;
        }

        .forminfo li label {
            width: 50px;
        }

        select {
            opacity: 1;
            border: 1px solid #9c9c9c;
            width: 100px;
            height: 32px;
        }

        .layui-table tbody tr {
            cursor: pointer;
        }

        #form1 lable {
            font-size: 14px;
            height: 38px;
        }

        input.dfinput {
            height: 38px;
        }

        .scinput {
            height: 38px;
        }
    </style>
</head>
<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0)">基础设置</a></li>
            <li><a href="/Manage/Settings/BaseQuanlity">质量指标设置</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="tools" style="height: auto;">
            <form method="get" id="form1">
                <ul class="seachform">
                    <li class="notDistributorCss">
                        <label>指标名：</label>
                        <input name="TargetName" type="text" class="dfinput" style="width: 128px;" value="@Model.TargetName" />
                    </li>
                    <li class="notDistributorCss">
                        <label>材质</label>
                        <div class="layui-input-inline">
                            <select name="Mid" id="Mid" class="scinput">
                                <option value="">请选择</option>

                                @foreach (var item in _db.BaseProductClass.ToList())
                                {
                                    <optgroup label="@item.Name">
                                        @foreach (var items in _db.BaseProductMaterial.Where(w => w.Classid == item.Id).ToList())
                                        {
                                            if (Model.Mid == items.Id)
                                            {
                                                <option value="@Html.Raw(Model.Mid)" selected="selected">@Html.Raw(items.Name)</option>
                                            }
                                            else
                                            {
                                                <option value="@Html.Raw(items.Id)">@Html.Raw(items.Name)</option>
                                            }
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </li>
                    <li><label>&nbsp;</label><button id="sb" name="sb" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button></li>
                </ul>
            </form>
            <div style="float:right;position: absolute;top: 48px; right: 10px;">
                <label>&nbsp;</label>
                <button id="add" name="add" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
                <button id="delete" name="delete" class="layui-btn layui-btn-danger"><i class="layui-icon"></i> 删除</button>
            </div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th><input name="" type="checkbox" id="chkall" /></th>
                        <th>ID</th>
                        <th>指标名</th>
                        <th>指标英文名</th>
                        <th>材质</th>
                        <th>执行标准</th>
                        <th>参考值范围</th>
                        <th style="width:80px">指标类型</th>
                        <th style="width:80px">是否禁用</th>
                        <th>是否必填</th>
                        <th>备注</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ZlList != null && Model.ZlList.Count > 0)
                    {
                        foreach (var item in Model.ZlList)
                        {
                            <tr onclick="Edit(@item.Id)" title="@item.TargetNote">
                                <td style="width:40px" onclick="stopchoose()"><input name="id" type="checkbox" value="@item.Id" /></td>
                                <td style="width:50px">@item.Id</td>
                                <td style="width:100px">@item.TargetName</td>
                                <td style="width:100px">@item.TargetNameEn</td>
                                <td style="width:130px">
                                    @{
                                        var pm = Model.PMlist.FirstOrDefault(c => c.Id == item.Classid);
                                        if (pm != null)
                                        {
                                            @pm.Name
                                        }
                                    }
                                    －
                                    @{
                                        var cz = Model.Czlist.FirstOrDefault(c => c.Id == item.Materialid);
                                        if (cz != null)
                                        {
                                            @cz.Name
                                        }
                                    }
                                </td>
                                <td style="width:130px">
                                    @{
                                        var gbp = Model.Qslist.FirstOrDefault(c => c.Id == item.Standardid);
                                        if (gbp != null)
                                        {
                                            @gbp.Name
                                        }
                                    }
                                </td>
                                <td style="width:100px">@item.TargetMin ~ @item.TargetMax</td>
                                <td>@item.TargetType.ToString().Replace("0", "单样本").Replace("1", "多样本")</td>
                                <td>
                                    @if (item.Status == 1)
                                    {
                                        <lable style="color:red">已禁用</lable>
                                    }
                                    else if (item.Status == 0)
                                    {
                                        <lable style="color:green">未禁用</lable>
                                    }
                                </td>
                                <td>
                                    @if (item.TargetIsNull == 1)
                                    {
                                        <lable style="color:red">必填</lable>
                                    }
                                    else if (item.TargetIsNull == 0)
                                    {
                                        <lable style="color:green">不必填</lable>
                                    }
                                </td>
                                <td>
                                    @item.TargetNote
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("PageList", new
            {
                PageSize = Model.PageSize,
                PageIndex = Model.Page,
                PageCount = Model.PageCount,
                PageUrl = Request.GetAbsoluteUri(new List<KeyValuePair<string, string>>() {
                                                                                     new KeyValuePair<string, string>("pg","{0}")
                                                                               }),
                PageText = "{0}",
                ShowCount = 6,
                ShowAll = false
            })
        </div>
    </div>


    @*<div id="Standardtype" style="display:none">
            @{
                var qsclass = Model.Qslist;
                if (qsclass != null && qsclass.Count > 0)
                {
                    foreach (var qs in qsclass)
                    {
                        <label><input type="radio" name="standard" value="@qs.Id" checked="checked" />@qs.Name</label>
                    }

                }

            }
        </div>*@
    <div class="tip" id="addbox">

        <form id="form2">
            <div class="tiptop"><span id="addtips">添加指标</span><a onclick="javascript:layer.closeAll();"></a></div>
            <div class="tipinfo">
                <input type="hidden" value="add" id="hiddType" />
                <input type="hidden" value="" id="Id" name="Id" />
                <ul class="forminfo">
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">材质<b>*</b></label>
                        <select name="Materialid" id="Materialid" class="validate[required] scinput" style="width:200px">
                            <option value="">请选择</option>
                            @foreach (var item in _db.BaseProductClass.ToList())
                            {
                                <optgroup label="@item.Name">
                                    @foreach (var items in _db.BaseProductMaterial.Where(w => w.Classid == item.Id).ToList())
                                    {
                                        <option value="@Html.Raw(items.Id)">@Html.Raw(items.Name)</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;">
                        <label style="width:70px;">指标名<b>*</b></label>
                        <input name="TargetName" id="TargetName" type="text" class="validate[required] scinput" value="" style="width:200px" />
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;">
                        <label style="width:70px;">指标英文名<b>*</b></label>
                        <input name="TargetNameEn" id="TargetNameEn" type="text" class="validate[required] scinput" value="" style="width:200px" />
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;">
                        <label style="width:70px;">参考值范围<b>*</b></label>
                        <input name="TargetMin" id="TargetMin" type="text" class="validate[required,custom[number]] scinput" value="" style="width:50px" />
                        ~ <input name="TargetMax" id="TargetMax" type="text" class="validate[required,custom[number]] scinput" value="" style="width:50px" />
                    </li>
                    <li>
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">指标类型</label>
                        <select name="TargetType" id="TargetType" class="validate[required] scinput">
                            <option value="">请选择</option>
                            <option value="0" selected="selected">单样本</option>
                            <option value="1">多样本</option>
                        </select>
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">是否禁用</label>
                        <input type="radio" name="Status" value="0" checked="checked" />未禁用
                        <input type="radio" name="Status" value="1" />已禁用
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">是否必填</label>
                        <input type="radio" name="TargetIsNull" value="0" />否
                        <input type="radio" name="TargetIsNull" value="1" checked="checked" />是
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="luruli">
                        <label style="width:70px;">执行标准</label>
                        <select name="Standardid" id="Standardid" class="validate[required] scinput">
                            <option value="">请选择</option>
                            @for (var i = 0; i < Model.Qslist.Count; i++)
                            {
                                var item = Model.Qslist[i];
                                if (i == 0)
                                {
                                    <option value="@Html.Raw(item.Id)" selected="selected">@Html.Raw(item.Name)</option>
                                }
                                else
                                {
                                    <option value="@Html.Raw(item.Id)">@Html.Raw(item.Name)</option>
                                }
                            }

                        </select>
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;"><label style="width:70px;">备注</label> <textarea name="TargetNote" id="TargetNote" class="scinput" style="width:280px;height:50px;"></textarea></li>
                    <li>
                    </li>
                </ul>
            </div>

            <div class="tipbtn">
                <input name="" type="button" class="sure" value="确定" onclick="AddBaseQuanlity()" />&nbsp;
                <input name="" onclick="javascript: layer.closeAll();" type="button" class="cancel" value="取消" />
            </div>
        </form>
    </div>
    <script type="text/javascript">
        var addformhtml = $("#addbox").html();
        var addformwidth = $("#addbox").width();
        $("#addbox").html("");
        $("#add").click(function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("add");
        });
        $("#sb").click(function () {
            $("#form1").submit();
        });

        function AddBaseQuanlity() {
            var valid = $("#form2").validationEngine("validate");
            if (valid) {
                var url = '/BaseQuanlity/AddBaseQuanlity';
                var selectedid = getSelectedId();
                if ($("#hiddType").val() == "edit") { url = '/BaseQuanlity/Edit?id=' + selectedid; }
                if ($("#hiddType").val() == "add") { url = '/BaseQuanlity/AddBaseQuanlity'; }
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form2").serialize(),
                    success: function (res) {
                        if (res.state) {
                            layer.msg(res.content, { icon: 1 });

                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else {
                            layer.msg(res.content, { icon: 2 });
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }
        }
        $('#delete').click(function () {
            var selectedid = getSelectedId();
            if (selectedid <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }
            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "get",
                    url: '/BaseQuanlity/DelQuanlity?id=' + selectedid,
                    success: function (res) {
                        if (res.state) {
                            layer.msg(res.content, { icon: 1 });
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        else {
                            layer.msg(res.content, { icon: 2 });
                            setTimeout(function () { window.location.reload(); }, 2000);
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('无法获取到数据！', { icon: 2 });
                    }
                });
            }, function () {

            });
        });
        $("#edit").click(function () {

            var selectedid = getSelectedId();

            if (selectedid <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("edit");
            var loadLayer = layer.load(1);
            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/BaseQuanlity/Edit?id=' + selectedid,
                success: function (re) {
                    $("#Classid").val(re.classid);
                    $("#Materialid").val(re.materialid);
                    $("#Standardid").val(re.standardid);
                    $("#TargetName").val(re.targetName);
                    $("#TargetNameEn").val(re.targetNameEn);
                    $("#TargetMax").val(re.targetMax);
                    $("#TargetMin").val(re.targetMin);
                    $("#TargetNote").val(re.targetNote);
                    $("#TargetType").val(re.targetType);
                    $('input[name=Status]').eq(re.status).attr('checked', 'checked');

                    $("#Id").val(id);
                    layer.close(loadLayer);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(loadLayer);
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });


        });
        function getSelectedId() {
            var selectedid = 0;
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedid = $(this).val();
            });

            return selectedid;
        }

        function Edit(id) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });
            $('#addtips').text('编辑指标');
            $("#hiddType").val("edit");
            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/BaseQuanlity/Edit?id=' + id,
                success: function (re) {
                   // console.log(re);
                    $("#Classid").val(re.classid);
                    $("#Materialid").val(re.materialid);
                    $("#Standardid").val(re.standardid);
                    $("#TargetName").val(re.targetName);
                    $("#TargetNameEn").val(re.targetNameEn);
                    $("#TargetMax").val(re.targetMax);
                    $("#TargetMin").val(re.targetMin);
                    $("#TargetNote").val(re.targetNote);
                    $("#TargetType").val(re.targetType);
                    $('input[name=Status]').eq(re.status).attr('checked', 'checked');
                    $('input[name=TargetIsNull]').eq(re.targetIsNull).attr('checked', 'checked');
                    $("#Id").val(id);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });
        }

        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        }
    </script>


</body>
</html>