@page
@model GBNameModel
@{
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form1").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

            $("#form1").find("a").each(function () {
                if ($(this).html() == '@ViewData["ReportType"]')
                {
                    $(this).css("font-weight","600");
                }
            });
            $()

            //$("#chkall").selall("id");
        });
        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C 
                evt.stopPropagation();
            } else {       //IE      
                evt.cancelBubble = true;
            }
        }
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }
        .tipinfo{
            margin-left:20px;
        } 
        .forminfo li label {
            width: 50px;
        }
        .layui-table tbody tr {
            cursor: pointer;
        }
        #form1 lable {
            font-size: 14px;
            height: 38px;
        }
        input.dfinput {
            height: 38px;
        }
    </style>
</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0)">基础设置</a></li>
            <li><a href="/Manage/Settings/GBName">国标名</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools" style="height: auto;">
            <form method="get" id="form1">
                <ul class="seachform">
                    <li>
                        <label>名称：</label>
                        <input name="keyword" type="text" class="dfinput" style="width: 128px;" value="@ViewData["keyword"]" />
                    </li>
                    <li><label>&nbsp;</label><button  id="sb" name="sb"  class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button></li>
                    
                </ul>
            </form>
            <div style="float:right;position: absolute;top: 48px; right: 10px;">
                <label>&nbsp;</label>
                <button id="add" name="add" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
                <button id="delete" name="delete" class="layui-btn layui-btn-danger"><i class="layui-icon"></i> 删除</button>
            </div>
           
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width:40px"><input name="" type="checkbox" value="" id="chkall" /></th>
                    <th style="width:60px">编号</th>
                    <th style="width:220px">名称</th>
                    <th>备注</th>
                </tr>
            </thead>
            <tbody>
            @{
                var list = ViewData["list"] as List<DataLibrary.BaseProductGbClass>;
                if (list != null)
                {
                    foreach (DataLibrary.BaseProductGbClass gbclass in list)
                    {
                        <tr  onclick="Edit(@gbclass.Id)">
                            <td onclick="stopchoose()"><input name="id" type="checkbox"  value="@gbclass.Id" /></td>
                            <td>@gbclass.Id</td>
                            <td>@gbclass.Gbname</td>
                            <td>@gbclass.Note</td>
                           
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    </div>

    <div class="tip" id="addbox">
        
        <form id="form2">
            <div class="tiptop"><span id="addtips">添加国标名</span><a onclick="javascript:layer.closeAll();"></a></div>
            <div class="tipinfo">
                <input type="hidden" value="add" id="hiddType" />
                <input type="hidden" value="" id="hiddId" name="hiddId" />
                <ul class="forminfo">
                  
                    <li style="line-height: 34px;"><label>名称<b>*</b></label> <input name="GBName" id="GBName" type="text" class="validate[required] scinput" value="" style="width:200px" /></li>
                    <li>
                    </li>
                    <li style="line-height: 34px;"><label>备注</label> <textarea name="Note" id="Note" class="scinput" style="width:280px;height:120px;"></textarea></li>
                    <li>
                    </li>
                </ul>
            </div>

            <div class="tipbtn">
                <input name="" type="button" class="sure" value="确定" onclick="submitAdd()" />&nbsp;
                <input name="" onclick="javascript: layer.closeAll();" type="button" class="cancel" value="取消" />
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var addformhtml = $("#addbox").html();
        var addformwidth = $("#addbox").width();

        $("#addbox").html("");

        $('.layui-table tbody tr:odd').addClass('odd');

        function getSelectedIds() {
            var selectedids = "";
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedids += $(this).val()+",";
            });

            return selectedids;
        }

        function getSelectedId() {
            var selectedid = 0;
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedid = $(this).val();
            });

            return selectedid;
        }

        $("#sb").click(function () {
            $("#form1").submit();
        });

        $("#add").click(function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth+"px",
                content: addformhtml,
            });

            $("#hiddType").val("add");
        });

        $("#edit").click(function () {

            var selectedid = getSelectedId();

            if (selectedid <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });
            $("#hiddType").val("edit");
            //ajax请求编辑数据
            var loadLayer = layer.load(1);
            $.ajax({
                type: "GET",
                url: '/GBName/Edit?id=' + selectedid,
                success: function (re) {
                  //  console.log(re);
                    $("#GBName").val(re.gbname);
                    $("#Note").val(re.note);
                    $("#hiddId").val(selectedid);
                    layer.close(loadLayer);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(loadLayer);
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });
           
        });

        $("#delete").click(function () {
            var selectedids = getSelectedIds();

            if (selectedids.length <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }

            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: "/GBName/Delete",
                    data: "Ids=" + selectedids,
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('您所选的国标名已被产品应用，删除失败', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })
        function Edit(id) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("edit");
            var loadLayer = layer.load(1);
            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/GBName/Edit?id=' + id,
                success: function (re) {
                    $("#GBName").val(re.gbname);
                    $("#Note").val(re.note);
                    $("#hiddId").val(id);
                    layer.close(loadLayer);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('无法获取到数据！', { icon: 2 });
                    layer.close(loadLayer);
                }
            });
        }
        function submitAdd(){
            var valid = $("#form2").validationEngine("validate");
            if (valid) {
                $("#Node").val($("#NodeArea").val());
                var url = '/GBName/Create';
                if ($("#hiddType").val() == "edit") { url = '/GBName/Edit'; }
                if ($("#hiddType").val() == "add") { url = '/GBName/Create'; }
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form2").serialize(),
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else if (parseInt(re) == -1) {
                            layer.msg('您已添加该国标名，请勿重复添加', { icon: 2 });
                        }
                        else { 
                            layer.msg(re, { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }
        
        }
    </script>
</body >
</html >