@inject Common.IService.ICMSService cmsService
@{
    var SiteBasic = cmsService.GetBasic();
    var Tag = ViewData["Tag"] as string;
    var linklist = cmsService.GetSiteLink((int)SiteLinkPostion.PC端显示);
    var list = cmsService.GetSiteLink((int)SiteLinkPostion.PC移动全显示);
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    @if (ViewData["Title"] == null)
    {
        <title>@Html.Raw(SiteBasic.SiteTitle)</title>
    }
    else
    {
        <title>@Html.Raw(ViewData["Title"] + "-" + SiteBasic.CompName)</title>
    }
    <meta name="viewport" content="initial-scale=0.37">
    @if (ViewData["Desc"] == null)
    {
        <meta name="description" content="@Html.Raw(SiteBasic.SiteDesc)" />
    }
    else
    {
        <meta name="description" content="@Html.Raw(ViewData["Desc"]+"-"+SiteBasic.CompName)" />
    }
    <link href="/Content/css/global.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Content/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.SuperSlide.2.1.1.js"></script>
    <link href="/Content/css/Index.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Html.Raw(SiteBasic.StatsCode)
</head>
<body>
    <div id="header" class="part">
        <div class="logo fl"><a href="/"><img src="@SiteBasic.Logo" alt="@SiteBasic.CompName" /></a></div>
        <span class="headline"></span>
        <div class="fontCss">@Html.Raw(SiteBasic.LogoText)</div>
        @*<a href="/"><div class="logo fl"></div></a>*@
        <div class="callus fr"></div>
    </div>
    <ul id="nav" class="part">
        <li class="nLi" style="width:108px;">
            <span style="width:108px;"><a href="/"><img src="/Content/images/nav_home.jpg" alt="网站首页" /></a></span>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="gsjj.html"> --><a>公司概况</a><!-- </a> --></span>
            <ul class="sub">
                <li> <a href="/CompanyDescription/Introduction">公司简介</a></li>
                <li><a href="/CompanyDescription/">总经理致辞</a></li>
                <li><a href="/CompanyDescription/Greatevents/0-1.html">公司大事件</a></li>
                <li><a href="/CompanyDescription/ContactUs">联系我们</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="/index.php?s=/new/index.html"> --><a>新闻中心</a><!-- </a> --></span>
            <ul class="sub">
                <li><a href="/News/0-1.html">公司新闻</a></li>
                <li><a href="/News/Dynamics/0-1.html">行业动态</a></li>
                <li><a href="/News/Video">闽源视频</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="/index.php?s=/product/index.html"> --><a>产品服务</a><!-- </a> --></span>
            <ul class="sub">
                <li><a href="/ProductService/0-1.html">产品电子目录</a></li>
                <li><a href="/ProductService/Process">工艺流程</a></li>
                <li><a href="/ProductService/Standard">产品标准</a></li>
                <li><a href="/ProductService/Authentication/0-1.html">质量认证</a></li>
                <li><a href="/ProductService/Sale">销售网络</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="/index.php?s=/science/index.html"> --><a>技术中心</a><!-- </a> --></span>
            <ul class="sub">
                <li><a href="/TechnologyCenter/0-1.html">理化实验室</a></li>
                <li><a href="/TechnologyCenter/Research/0-1.html">研发动态</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="/index.php?s=/human/index.html"> --><a>人力资源</a><!-- </a> --></span>
            <ul class="sub">
                <li><a href="/Humanresources/">在线招聘</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="/index.php?s=/culture/index.html"> --><a>企业文化</a><!-- </a> --></span>
            <ul class="sub">
                <li><a href="/Culture/">文化体系</a></li>
                <li><a href="/Culture/Sence">钢城风采</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><!-- <a target="_self" href="/index.php?s=/"> --><a>闽源报</a><!-- </a> --></span>
            <ul class="sub">
                <li><a href="/NewsPaper/0-1.html">闽源报</a></li>
            </ul>
        </li>
        <li class="nLi">
            <span><a>产品查询</a></span>
            <ul class="sub">
                <li><a href="/ProductSearch/">产品查询</a></li>
            </ul>
        </li>
    </ul>

    <script type="text/javascript">
        jQuery("#nav").slide({ type: "menu", titCell: ".nLi", targetCell: ".sub", effect: "slideDown", delayTime: 300, triggerTime: 0, returnDefault: true });
        jQuery("#jdtp").slide({ effect: "left", easing: "swing", mainCell: ".pic", autoPage: "none", autoPlay: true });
    </script>
    @RenderBody()

    <!-- 底部 -->

    <div id="friendlink" style="width:920px" class="part">

        @if (linklist.Count > 0 || list.Count > 0)
        {
            <div class="hd" style="background-position:0 -280px;"></div>
            <div id="Wfriend">
                <div id="FriendShip">
                    <ul>
                        @foreach (var a in linklist)
                        {
                            if (a.LinkType == (int)SiteLinkType.图片链接)
                            {
                                <li>
                                    <a href="@a.Url" target="_blank"><img src="@a.PicLink" alt="@Html.Raw(a.Description)" style="height:@Convert.ToInt32(a.PicHeight)px;width:@Convert.ToInt32(a.PicWidth)px" /></a>
                                </li>
                                @if (a.Sequence > 2)
                                {
                                    <li>|</li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="@a.Url" target="_blank" title="@Html.Raw(a.Description)">@Html.Raw(a.Name)</a>
                                </li>
                                @if (a.Sequence > 2)
                                {
                                    <li>|</li>
                                }
                            }
                        }
                        @if (linklist.Count > 0 && list.Count > 0)
                        {
                            <li>|</li>
                        }

                        @foreach (var a in list)
                        {
                            if (a.LinkType == (int)SiteLinkType.图片链接)
                            {
                                <li>
                                    <a href="@a.Url" target="_blank"><img src="@a.PicLink" alt="@Html.Raw(a.Description)" style="height:@Convert.ToInt32(a.PicHeight)px;width:@Convert.ToInt32(a.PicWidth)px" /></a>
                                </li>
                                @if (a.Sequence > 1)
                                {
                                    <li>|</li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="@a.Url" target="_blank" title="@Html.Raw(a.Description)">@Html.Raw(a.Name)</a>
                                </li>
                                @if (a.Sequence > 1)
                                {
                                    <li>|</li>
                                }
                            }
                        }
                    </ul>

                </div>
            </div>
        }
    </div>

    <script type="text/javascript">
        jQuery("#nav").slide({ type: "menu", titCell: ".nLi", targetCell: ".sub", effect: "slideDown", delayTime: 300, triggerTime: 0, returnDefault: true });
        $("#menu li").hover(function () {
            $(this).addClass("on");
            $(this).siblings().removeClass('on');
        });
        $('#list .list1 li').each(function (i) {
            ++i;
            if (i % 5 == 0) {
                $(this).after("<li class=\"line\"></li>");
            }
        });

    </script>

    <script type="text/javascript">
        (function () {
            var ThinkPHP = window.Think = {
                "ROOT": "", //当前网站地址
                "APP": "/debug.php?s=", //当前项目地址
                "PUBLIC": "Public", //项目公共目录地址
                "DEEP": "/", //PATHINFO分割符
                "MODEL": ["3", "1", "html"],
                "VAR": ["m", "c", "a"]
            }
        })();
    </script>
    <!-- 用于加载js代码 -->
    <!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
    <div class="spacing"></div>
    <div id="footer">
        <div class="footer_row">
            <ul>
                <li class="footer_title">关于闽源</li>
                <li><a href="/CompanyDescription/Introduction">公司简介</a></li>
                <li><a href="/CompanyDescription/Greatevents/0-1.html">公司大事记</a></li>
                <li><a href="/News/0-1.html">公司新闻</a></li>

            </ul>
            <ul>
                <li class="footer_title">产品服务</li>
                <li><a href="/ProductService/0-1.html">产品电子目录</a></li>
                <li><a href="/ProductService/Process">工艺流程</a></li>
                <li><a href="/ProductService/Standard">产品标准</a></li>

            </ul>
            <ul>
                <li class="footer_title">企业文化</li>
                <li><a href="/Culture/">文化体系</a></li>
                <li><a href="/Culture/Sence">钢城风采</a></li>
                <li><a href="/TechnologyCenter/0-1.html">理化实验室</a></li>

            </ul>
            <ul style="padding-right:0;  margin-right: 0;">
                <li class="footer_title">产品查询</li>
                <li><a href="/ProductSearch/">质量证明书查询</a></li>
                <li>&nbsp;</li>
                <li><a href="/Login">系统登录</a></li>
            </ul>
            <div class="clearit"></div>
            <div class="footer_gov">
                <a href="http://wj.haaic.gov.cn/TopICRS/certificateAction.do?id=201703020000016386" target="_blank" style="border:0;">
                    <img src="/Content/images/gswj_icon.png" width="30px">
                </a>
                <span>
                    @Html.Raw(SiteBasic.Copyright)
                    <a style="color:#FFFFFF" target="_blank" href="http://www.miitbeian.gov.cn">@Html.Raw(SiteBasic.Icp)</a>
                    &nbsp;&nbsp;技术支持：<a href="http://www.31goods.com" target="_blank" style="color:white;">商交宝</a>
                </span>

            </div>
        </div>


    </div>

</body>
</html>

