@page
@model WarrantyManage.Pages.Manage.Settings.TestModel
@{
    ViewData["Title"] = "test";
}
@inject DataLibrary.DataContext _db
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加规格</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form2").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });



        });
        function getIndex(obj) {
            var Index = $(obj).parent().parent().index();

            var TbData = $("#tbdata tbody tr:eq(" + Index + ")");

            var piececount = TbData.find("input[name='Referpiececount']").val();
            var length = TbData.find("input[name='Referlength']").val();
            var meterweight = TbData.find("input[name='Refermeterweight']").val();
            if (piececount != "" && length != "" && meterweight != "") {
                TbData.find("input[name='Referpieceweight']").val((piececount * meterweight * length).toFixed(0));
            }
        }
    </script>
    <style>
        body {
            min-width: inherit;
        }

        select {
            opacity: 1;
            border: 1px solid #9c9c9c;
            width: 100px;
            height: 32px;
            line-height: 32px;
        }

        input {
            height: 100%;
            width: 100%;
            padding-left: 5px;
        }

        .addclass {
            cursor: pointer;
        }

        .tablelist {
            border: solid 1px #cbcbcb;
        }

        .tablelist td {
            line-height: 35px;
            text-indent: 0px;
            border: solid 1px #9c9c9c;
            white-space: nowrap;
        }

        .tipinfo {
            margin-left: 20px;
            padding-right: 8px;
        }

        .tipinfo span {
            width: 95px;
            height: 35px;
            float: left;
        }

        .rightinfo {
            padding: 0;
        }
    </style>
</head>
<body>

    <div class="rightinfo">
        <div id="addbox">

            <form id="form2" method="post">
                @*<div class="tiptop"><span id="addtips">添加规格</span></div>*@
                <div class="tipinfo">
                    <input type="hidden" value="add" id="hiddType" />
                    <input type="hidden" value="" id="hiddId" name="hiddId" />
                    <ul class="forminfo">
                        <li style="line-height: 34px;" class="rukuli">
                            <label style="width:70px;">材质<b>*</b></label>
                            <select name="materialid" id="materialid" class="validate[required] scinput" style="width:200px">
                                <option value="">请选择</option>
                                @foreach (var item in _db.BaseProductClass.ToList())
                                {
                                    <optgroup label="@item.Name">
                                        @foreach (var items in _db.BaseProductMaterial.Where(w => w.Classid == item.Id).ToList())
                                        {
                                            <option value="@Html.Raw(items.Id)">@Html.Raw(items.Name)</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </li>                     
                        <li>
                        </li>
                        <li>

                            <table id="tbdata" class="tablelist">
                                <thead>
                                    <tr>
                                        <th>规格</th>
                                        <th>规格别名</th>
                                        <th>支数</th>
                                        <th>长度</th>
                                        <th>米重</th>
                                        <th>理计件重</th>
                                        <th>冷弯计算系数</th>
                                        <th>反弯计算系数</th>
                                        <th>操作</th>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td style='height:35px;'><input type='text' class="validate[required] " name='Specname' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] " name='Callname' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] validate[custom[integer]] " onchange="getIndex(this)" name='Referpiececount' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] validate[custom[number]] " onchange="getIndex(this)" name='Referlength' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] validate[custom[number]]" onchange="getIndex(this)" name='Refermeterweight' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] validate[custom[number]]"  name='Referpieceweight' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] validate[custom[number]]" name='Coldratio' /></td>
                                        <td style='height:35px;'><input type='text' class="validate[required] validate[custom[number]]" name='Reverseratio' /></td>
                                        <td style='height:35px;'><span onclick='deleteTrRow(this);' class="addclass">&nbsp;删除</span></td>
                                    </tr>

                                </tbody>

                            </table>

                            <a onclick="addrow()" class="addclass">添加</a>

                        </li>

                    </ul>
                </div>

                <div class="tipbtn">
                    <input name="" type="button" id="btnAdd" onclick="submitData(this);" class="sure" value="确定" />&nbsp;

                </div>
            </form>
        </div>

    </div>


    <script type="text/javascript">
        @*var IsSuccess = @Model.IsSuccess.ToString().ToLower();
        var Msg = '@Model.Msg.ToString()';
        
        if (Msg != "") {
            if (IsSuccess) {
                layer.msg("操作成功", { icon: 1 });
                setTimeout(function () { parent.window.location.reload(); }, 2000);
            } else {
                layer.msg("您已添加过" + Msg + " 以上数据插入失败，请核对后重新添加", { icon: 2 });
                setTimeout(function () { parent.window.location.reload(); }, 2000);
            }
        }*@

        function submitData(obj) {
            if (checkValid(obj)) {
                $.ajax({
                    type: "POST", url: '/BaseSpec/Add',
                    data: $("#form2").serialize(),
                    success: function (re) {
                        if (re.state) {
                            layer.msg('新增成功', { icon: 1 });
                            setTimeout(function () { parent.window.location.reload(); }, 1000);
                        } else {
                            layer.msg(re.content, { icon: 2 });
                        }
                        setTimeout(function () {
                            layer.closeAll();
                        }, 2000);


                    }, error: function (err) {
                        if (err.status == 401) {
                            layer.msg("暂无权限", { icon: 2 });
                        } else {
                            layer.msg("操作失败，系统出现错误！", { icon: 2 });
                        }
                        setTimeout(function () {
                            layer.closeAll();
                        }, 2000);
                    }
                });
            }
        }   
        function addrow() {

            var tables = $('#tbdata');

            var addtr = $("<tr>" +
                "<td style='height:35px;'><input type='text' class='validate[required] ' name='Specname' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] ' name='Callname' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] validate[custom[integer]]  ' onchange='getIndex(this)' name='Referpiececount' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] validate[custom[number]]' onchange='getIndex(this)' name='Referlength' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] validate[custom[number]]'  onchange='getIndex(this)' name='Refermeterweight' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] validate[custom[number]]'  name='Referpieceweight' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] validate[custom[number]]'  name='Coldratio' /></td>" +
                "<td style='height:35px;'><input type='text' class='validate[required] validate[custom[number]]'   name='Reverseratio' /></td>" +
                "<td style='height:35px;'><span  onclick='deleteTrRow(this);' class='addclass' >&nbsp;删除</span></td>" +
                "</tr>");
            addtr.appendTo(tables);

        }
        function deleteTrRow(tr) {

            //多一个parent就代表向前一个标签,

            //本删除范围为<td><tr>两个标签,即向前两个parent

            //如果多一个parent就会删除整个table

            $(tr).parent().parent().remove();

        }

    </script>


</body>
</html>