@page
@using Newtonsoft.Json
@model WarrantyManage.Pages.Manage.Settings.BaseSpecModel
@using Util.Helpers
@using static DataLibrary.EnumList
@inject DataLibrary.DataContext _db
@{
    ViewData["Title"] = "BaseSpec";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}

    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form1").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

            $("#form1").find("a").each(function () {
                if ($(this).html() == '@ViewData["ReportType"]')
                {
                    $(this).css("font-weight","600");
                }
            });

            //$("#chkall").selall("id");
        });
        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        }
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }

        .tipinfo {
            margin-left: 20px;
        }

        .forminfo li label {
            width: 50px;
        }

        .tableli .layui-table {
            width: 85%;
        }

        ul .tableli .layui-table td {
            width: 100px;
            height: 40px;
        }

        input {
            height: 100%;
        }

        select {
            opacity: 1;
            border: 1px solid #9c9c9c;
            width: 100px;
            height: 32px;
            line-height: 32px;
        }

        .spec {
            background-color: #fafafa;
            border-bottom: 1px dotted #aeaeae;
            font-size: 14px;
            font-weight: 600;
            color: #666;
        }

        .addclass {
            cursor: pointer;
        }

        .layui-table tbody tr {
            cursor: pointer;
        }

        #form1 lable {
            font-size: 14px;
            height: 38px;
        }

        input.dfinput {
            height: 38px;
        }
        .element {
            width: 600px;
            height: 200px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); /* 50%为自身尺寸的一半 */
            font-size: 45px;
            color: #808080;
        }
    </style>
</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0)">基础设置</a></li>
            <li><a href="/Manage/Settings/BaseSpec">规格设置</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools" style="height: auto;">
            <form method="get" id="form1">
                <ul class="seachform">
                    <li>
                        <label>按材质:</label>

                        <select name="materialId" style="width:200px;opacity:1;height:38px;" id="Materialid">
                            <option value="0">请选择</option>
                            @foreach (var item in _db.BaseProductClass.ToList())
                            {
                                <optgroup label="@item.Name">
                                    @foreach (var items in _db.BaseProductMaterial.Where(w => w.Classid == item.Id).ToList())
                                    {
                                        if (Model.MaterialId == items.Id)
                                        {
                                            <option value="@Html.Raw(Model.MaterialId)" selected=selected>@Html.Raw(items.Name)</option>
                                        }
                                        else
                                        {
                                            <option value="@Html.Raw(items.Id)">@Html.Raw(items.Name)</option>
                                        }

                                    }
                                </optgroup>
                            }
                        </select>

                    </li>

                    <li><label>&nbsp;</label><button id="sb" name="sb" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button></li>
                </ul>
            </form>
            <div style="float:right;position: absolute;top: 48px; right: 10px;">
                <label>&nbsp;</label>
                <button id="add" name="add" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
            </div>
        </div>
        @{

            if (Model.List_group != null && Model.List_group.Count > 0)
            {
                <table class="layui-table">

                    <thead>
                        <tr>
                            <th style="width:220px">品名</th>
                            <th>材质</th>
                            <th>规格</th>
                            <th>规格别名</th>
                            <th>理计件重</th>
                            <th>支数</th>
                            <th>长度</th>
                            <th>米重</th>
                            <th>冷弯弯心直径倍数</th>
                            <th>反弯弯心直径倍数</th>
                            @*<th>操作</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var gro in Model.List_group)
                        {
                            var list_Spec = Model.GetSpecByPmAndCz(gro.Pm, gro.Cz);
                            int temp = 0;
                            foreach (var spec in list_Spec)
                            {
                                temp++;
                                <tr onclick="Edit(@spec.Id)">
                                    @if (temp == 1)
                                    {
                                        <td onclick="stopchoose()" rowspan="@list_Spec.Count" class="spec">
                                            @Model.List_pm.FirstOrDefault(c => c.Id == gro.Pm).Name
                                        </td>
                                        <td onclick="stopchoose()" rowspan="@list_Spec.Count" class="spec">
                                            @Html.Raw(Model.List_cz.FirstOrDefault(c => c.Id == gro.Cz) != null ? Model.List_cz.FirstOrDefault(c => c.Id == gro.Cz).Name : "")
                                        </td>
                                    }
                                    <td>
                                        @spec.Specname
                                    </td>
                                    <td>@spec.Callname</td>
                                    <td>@spec.Referpieceweight</td>
                                    <td>@spec.Referpiececount</td>
                                    <td>@spec.Referlength</td>
                                    <td>@spec.Refermeterweight</td>
                                    <td>@spec.Coldratio</td>
                                    <td>@spec.Reverseratio</td>
                                    @*<td>
                                        <button  onclick="Edit(@spec.Id)" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe642;</i>修改</button>
                                    </td>*@

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
            else if (Model.List_group.Count==0 && Model.MaterialId > 0)
            {
                <h1 class="element">所选择材质暂无数据！</h1>
            }
            else
            {
                <h1 class="element">请选择材质,进行查询</h1>
            }
        }
    </div>



    <script type="text/javascript">


        $('.layui-table tbody tr:odd').addClass('odd');
        $("#sb").click(function () {
            $("#form1").submit();
        });


        function Edit(id) {
            layer.open({
                type: 2,
                title: '修改规格',
                offset: '50px',
                shadeClose: false,
                area: ['50%', '80%'],
                content: '/Manage/Settings/EditBaseSpec?id=' + id,
            });
        }


        $("#add").click(function () {
            layer.open({
                type: 2,
                title:'新增规格',
                offset: '50px',
                shadeClose: false,
                area: ['50%', '80%'],
                content: '/Manage/Settings/AddBaseSpec',


            });




        });


    </script>
</body>
</html>
