@page

@using Newtonsoft.Json
@model WarrantyManage.Pages.Manage.Settings.EditWorkShopModel
@inject DataLibrary.DataContext db
@inject Common.IService.IUserService userService
@{
    ViewData["Title"] = "UpdWorkShop";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>修改车间</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });

            $("#formEdit").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });
        });
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }

        .tipinfo {
            margin-left: 20px;
        }

        select {
            opacity: 1;
            filter: alpha(opacity=100);
            border: 1px solid #9c9c9c;
            width: 50px;
            height: 32px;
            line-height: 32px;
        }

        #form1 select {
            border: solid 1px #a7b5bc;
            width: 130px;
        }

        /*.forminfo li label {
            width: 50px;
        }*/

        body {
            min-width: inherit;
        }

        .tablelist td {
            text-align: center;
            text-indent: 0px;
        }

        .addclass {
            cursor: pointer;
            /*position: relative;
            left: 70px;*/
        }

        .opreateclass {
            margin-left: 70px;
        }

            .opreateclass:first-child {
                margin-left: 0;
            }

        .inputspan {
            width: 70%;
            height: auto;
            display: inline-block;
            word-wrap: break-word;
            white-space: normal;
        }

        .tipinfo span {
            width: 70%;
            height: auto;
            float: left;
        }

        .deleclass {
            cursor: pointer;
            margin-left: 10px;
        }
    </style>
</head>


<body>

    <form id="formEdit" method="post">
        <div id="addbox">


            @*<div class="tiptop"><span id="addtips">修改车间</span></div>*@
            <span class="tipinfo">
                <input type="hidden" value="add" id="hiddType" />

                <ul class="forminfo">
                    @{
                        var list = Model.Wsclass;
                        <li style="line-height: 34px;">
                            <input type="hidden" value="@list.Id" id="hiddId" name="hiddId" />
                            <label style="width:70px;">车间名称<b>*</b></label> <input name="WorkShopName" id="WorkShopName" type="text" class="validate[required] scinput" value="@list.Name" style="width:200px" />
                        </li>
                        <li style="line-height: 34px;">
                            <label style="width:70px;">车间代码<b>*</b></label> <input name="Code" id="Code" type="text" class="validate[required] scinput validate[custom[WorkShopCode]]" maxlength="1" value="@list.Code" style="width:200px" /><b>一个大写字母</b>
                        </li>
                    }
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">入库操作员</label>
                        @{
                            if (!string.IsNullOrEmpty(list.Inputer))
                            {
                                var temp_userid = Array.ConvertAll(list.Inputer.Split(','), new Converter<string, int>(x => int.Parse(x)));
                                var resultOperator = db.MngAdmin.Where(c => temp_userid.Contains(c.Id)).ToList();
                                for (var i = 0; i < resultOperator.Count; i++)
                                {
                                    <span class="inputspan" @Html.Raw(i > 0 ? "style='margin-left:70px;'" : "")>
                                        <input placeholder="姓名" name="RukuName" type="text" value="@resultOperator[i].RealName" class="validate[required] scinput" style="width:100px" />
                                        <input placeholder="手机号" name="rukuTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="@resultOperator[i].UserName" style="width:100px" />
                                        <select name="WorkShopTeamId" class="validate[required] scinput validate[custom[teamrequired]] " style="width:70px;">
                                            <option value="">班组</option>
                                            @foreach (var te in Model.Teamlist)
                                            {
                                                if (this.db.PdWorkshopTeamAdminRelation.FirstOrDefault(c => c.AdminId == resultOperator[i].Id && c.WorkShopTeamId == te.Id) != null)
                                                {
                                                    <option value="@te.Id" selected="selected">@te.TeamName</option>

                                                }
                                                else
                                                {
                                                    <option value="@te.Id">@te.TeamName</option>
                                                }

                                            }
                                        </select>
                                        <a onclick="addworkin(this)" class="addclass">添加</a><a onclick="deleteRow(this,@resultOperator[i].Id,'ruku ')" class="deleclass">删除</a>
                                    </span>
                                }
                                <br />
                            }
                        }
                    </li>
                    <li style="line-height: 34px;" class="chukuli">
                        <label style="width:70px;">出库操作员</label>
                        @{
                            if (!string.IsNullOrEmpty(list.Outputer))
                            {
                                var temp_userid2 = Array.ConvertAll(list.Outputer.Split(','), new Converter<string, int>(x => int.Parse(x)));
                                var resultOperator2 = db.MngAdmin.Where(c => temp_userid2.Contains(c.Id)).ToList();
                                for (var i = 0; i < resultOperator2.Count; i++)
                                {
                                    <span class="inputspan" @Html.Raw(i > 0 ? "style='margin-left:70px;'" : "")>
                                        <input placeholder="姓名" name="chukuName" type="text" value="@resultOperator2[i].RealName" class="validate[required] scinput" style="width:100px" />
                                        <input placeholder="手机号" name="chukuTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="@resultOperator2[i].UserName" style="width:100px" />

                                        <a onclick="addworkout(this)" class="addclass">添加</a>
                                        <a onclick="deleteRow(this,@resultOperator2[i].Id,'chuku')" class="deleclass">删除</a>
                                    </span>
                                }
                                <br />
                            }
                        }
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="luruli">
                        <label style="width:70px;">质量录入员</label>
                        @{
                            if (!string.IsNullOrEmpty(list.QAInputer))
                            {
                                var temp_userid3 = Array.ConvertAll(list.QAInputer.Split(','), new Converter<string, int>(x => int.Parse(x)));
                                var resultOperator3 = db.MngAdmin.Where(c => temp_userid3.Contains(c.Id)).ToList();
                                for (var i = 0; i < resultOperator3.Count; i++)
                                {
                                    <span class="inputspan" @Html.Raw(i > 0 ? "style='margin-left:70px;'" : "")>
                                        <input placeholder="姓名" name="luruName" type="text" value="@resultOperator3[i].RealName" class="validate[required] scinput" style="width:100px" />
                                        <input placeholder="手机号" name="ruluTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="@resultOperator3[i].UserName" style="width:100px" />
                                        <select name="wuliorhuaxue" class="validate[required] scinput" style="width:70px;">
                                            @if (userService.IsHaveRole("质量员-物理", resultOperator3[i].Id) && userService.IsHaveRole("质量员-化学", resultOperator3[i].Id))
                                            {
                                                <option value="1">物理</option>
                                                <option value="2">化学</option>
                                                <option value="3" selected="selected">全部</option>
                                            }
                                            else if (userService.IsHaveRole("质量员-物理", resultOperator3[i].Id))
                                            {
                                                <option value="1" selected="selected">物理</option>
                                                <option value="2">化学</option>
                                                <option value="3">全部</option>}
                                            else if (userService.IsHaveRole("质量员-化学", resultOperator3[i].Id))
                                            {
                                                <option value="1">物理</option>
                                                <option value="2" selected="selected">化学</option>
                                                <option value="3">全部</option>
                                            }

                                        </select>
                                        <a onclick="addquanlityin(this)" class="addclass">添加</a><a onclick="deleteRow(this,@resultOperator3[i].Id,'luru')" class="deleclass">删除</a>
                                    </span>

                                }
                                <br />
                            }
                        }
                    </li>
                    <li style="line-height: 34px;display:none" class="luruli">
                        <label style="width:70px;">炉号工</label>
                        @{
                            if (!string.IsNullOrEmpty(list.Furnacer))
                            {
                                var temp_userid4 = Array.ConvertAll(list.Furnacer.Split(','), new Converter<string, int>(x => int.Parse(x)));
                                var resultOperator4 = db.MngAdmin.Where(c => temp_userid4.Contains(c.Id)).ToList();
                                for (var i = 0; i < resultOperator4.Count; i++)
                                {
                                    <span class="inputspan" @Html.Raw(i > 0 ? "style='margin-left:70px;'" : "")>
                                        <input placeholder="姓名" name="luhaoName" type="text" value="@resultOperator4[i].RealName" class="validate[required] scinput" style="width:100px" />
                                        <input placeholder="手机号" name="luhaoTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="@resultOperator4[i].UserName" style="width:100px" />
                                        <a onclick="addluhao(this)" class="addclass">添加</a><a onclick="deleteRow(this,@resultOperator4[i].Id,'luhao')" class="deleclass">删除</a>
                                    </span>

                                }
                                <br />
                            }
                        }
                    </li>
                    <li>
                    </li>
                </ul>
            </span>
        </div>

        <div class="tipbtn">

            <input onclick="submitData(this);" id="btnSubmit" type="button" class="sure" value="确定" />&nbsp;
        </div>
    </form>
    <script type="text/javascript">
        var addformhtml = $("#addbox").html();


        function addworkin(obj) {

            var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="RukuName"  type="text"  value="" class="validate[required] scinput" style="width:100px ;" />  <input  placeholder="手机号" name="rukuTel"  type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="" style="width:100px" />  <select name="WorkShopTeamId" class="validate[required] scinput validate[custom[teamrequired]]" style="width:70px;"><option value="">班组</option>@foreach (var te in Model.Teamlist){<option value="@te.Id">@te.TeamName</option>}</select> <a onclick="addworkin(this)" class="addclass">添加</a> <a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
            $(obj).parent().parent().append(html);
        }
        function addworkout(obj) {
            var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="chukuName"  type="text" value="" class="validate[required] scinput" style="width:100px;" />  <input placeholder="手机号" name="chukuTel"  type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="" style="width:100px" /><a onclick="addworkout(this)" class="addclass">添加</a> <a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
            $(obj).parent().parent().append(html);

        }
        function addquanlityin(obj) {
            var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="luruName"  type="text"  value="" class="validate[required] scinput " style="width:100px;" />  <input placeholder="手机号" name="ruluTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="" style="width:100px" /> <select name="wuliorhuaxue" class="validate[required] scinput" style="width:70px;"><option value = "1" selected = "selected" > 物理</option><option value="2">化学</option><option value="3">全部</option></select ><a onclick="addquanlityin(this)" class="addclass">添加</a><a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
            $(obj).parent().parent().append(html);

        }
        //function addluhao(obj) {
        //    var html = '<span class="inputspan" style="margin-left:70px;"><input placeholder="姓名" name="luhaoName"  type="text"  value="" class="validate[required] scinput " style="width:100px;" />  <input placeholder="手机号" name="luhaoTel" type="text" class="validate[required] scinput validate[custom[MobilePhone]]" value="" style="width:100px" /><a onclick="addluhao(this)" class="addclass">添加</a> <a onclick="deleteRow(this)" class="deleclass">删除</a></span>';
        //    $(obj).parent().parent().append(html);

        //}



        function deleteRow(obj, Id, flag) {
            var next = $(obj).parent().parent().children("span");
            if (next.length == 1) {
                layer.msg("当前行不允许删除");

            } else {
                if (Id > 0) {
                    var hiddId = $("#hiddId").val();
                    layer.confirm('是否确认删除此条数据', {
                        btn: ['确定', '取消'] //按钮
                    },
                        function () {
                            $.ajax({
                                type: "Post",
                                url: '/WorkShop/DeleWorker?hiddId=' + hiddId + "&id=" + Id + "&flag=" + flag,
                                success: function (re) {

                                    if (re.state) {
                                        layer.msg('操作成功', { icon: 1 });
                                        $(obj).parent().remove();
                                        setTimeout(function () { parent.window.location.reload(); }, 1000);
                                    } else {
                                        layer.msg(re.content, { icon: 2 });
                                    }
                                    setTimeout(function () {
                                        layer.closeAll();
                                    }, 2000);
                                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    layer.msg('无法获取到数据！', { icon: 2 });
                                    setTimeout(function () {
                                        layer.closeAll();
                                    }, 2000);
                                }
                            });
                        },
                        function () {

                        });
                }
                else {
                    $(obj).parent().remove();
                }
            }

        }

        function submitData(obj) {
            if (checkValid(obj)) {
                $.ajax({
                    type: "POST", url: '/WorkShop/Edit',
                    data: $("#formEdit").serialize(),
                    success: function (re) {
                        if (re.state) {
                            layer.msg('修改成功', { icon: 1 });
                            setTimeout(function () { parent.window.location.reload(); }, 1000);
                        } else {
                            layer.msg(re.content, { icon: 2 });
                        }
                        setTimeout(function () {
                            layer.closeAll();
                        }, 2000);


                    }, error: function (err) {
                        if (err.status == 401) {
                            layer.msg("暂无权限", { icon: 2 });
                        } else {
                            layer.msg("操作失败，系统出现错误！", { icon: 2 });
                        }
                        setTimeout(function () {
                            layer.closeAll();
                        }, 2000);
                    }
                });
            }
        }

    </script>
</body>
</html>