@page
@model WarrantyManage.Pages.Manage.Settings.ProductMaterialModel
@{
    ViewData["Title"] = "ProductMaterial";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form1").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

            $("#form1").find("a").each(function () {
                if ($(this).html() == '@ViewData["ReportType"]')
                {
                    $(this).css("font-weight","600");
                }
            });

            //$("#chkall").selall("id");
        });
        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        }
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }

        .tipinfo {
            margin-left: 20px;
        }

        .forminfo li label {
            width: 50px;
        }

        select {
            opacity: 1;
            border: 1px solid #9c9c9c;
            width: 100px;
            height: 38px;
            line-height: 38px;
        }

        .layui-table tbody tr {
            cursor: pointer;
        }

        #form1 lable {
            font-size: 14px;
            height: 38px;
        }

        input.dfinput {
            height: 38px;
        }
    </style>
</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0)">基础设置</a></li>
            <li><a href="/Manage/Settings/ProductMaterial">材质</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools" style="height: auto;">
            <form method="get" id="form1">
                <ul class="seachform">
                    <li class="notDistributorCss">
                        <label>材质：</label>
                        <input name="keyword" type="text" class="dfinput" style="width: 128px;" value="@ViewData["keyword"]" />
                    </li>
                    <li class="notDistributorCss">
                        <label>品名：</label>
                        <select name="pname">
                            <option value="">请选择</option>
                            @{
                                var list2 = ViewData["plist"] as List<DataLibrary.BaseProductClass>;
                                foreach (DataLibrary.BaseProductClass pclass in list2)
                                {
                                    if (ViewData["pname"] != null)
                                    {
                                        if (ViewData["pname"].ToString() == pclass.Id.ToString())
                                        {
                                            @Html.Raw("<option value='" + pclass.Id + "' selected='selected'>" + pclass.Name + "</option>");
                                        }
                                        else
                                        {
                                            @Html.Raw("<option value='" + pclass.Id + "' >" + pclass.Name + "</option>");
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw("<option value='" + pclass.Id + "'>" + pclass.Name + "</option>");
                                    }

                                }
                            }
                        </select>
                    </li>
                    <li><label>&nbsp;</label><button id="sb" name="sb" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button></li>
                </ul>
            </form>
        </div>
        <div style="float:right;position: absolute;top: 48px; right: 10px;">
            <label>&nbsp;</label>
            <button id="add" name="add" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
            <button id="delete" name="delete" class="layui-btn layui-btn-danger"><i class="layui-icon"></i> 删除</button>
        </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width:40px"><input name="" type="checkbox" value="" id="chkall" /></th>
                    <th style="width:60px">编号</th>
                    <th style="width:220px">材质</th>
                    <th>品名</th>

                    <th>材质强度</th>
                    <th>质保书模板</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var list = ViewData["list"] as List<DataLibrary.BaseProductMaterial>;
                    var list3 = ViewData["plist"] as List<DataLibrary.BaseProductClass>;
                    if (list != null)
                    {
                        foreach (DataLibrary.BaseProductMaterial pmclass in list)
                        {
                            <tr onclick="Edit(@pmclass.Id)">
                                <td onclick="stopchoose()"><input name="id" type="checkbox" value="@pmclass.Id" /></td>
                                <td>@pmclass.Id</td>
                                <td>@pmclass.Name</td>
                                <td>
                                    @{
                                        foreach (DataLibrary.BaseProductClass pclass in list3)
                                        {
                                            if (pclass.Id == pmclass.Classid)
                                            {
                                                @Html.Raw(pclass.Name);
                                            }
                                            else
                                            {
                                                @Html.Raw("");
                                            }
                                        }
                                    }
                                </td>

                                <td>@pmclass.Standardstrength</td>
                                <td>
                                    @{
                                        @Html.Raw(pmclass.Templatename);
                                    }
                                </td>
                                <td>@pmclass.Note</td>
                                <td>@typeof(DataLibrary.EnumList.MaterialIsCancel).GetEnumName(pmclass.MaterialIsCancel)</td>
                                <td>
                                    @if (pmclass.MaterialIsCancel == MaterialIsCancel.未作废)
                                    {
                                        <button id="cancelyes" name="cancelyes" class="layui-btn layui-btn-normal layui-btn-sm zuofei" mId="@pmclass.Id" Status="@Html.Raw(MaterialIsCancel.作废)"><i class="layui-icon">&#x1006;</i>作废</button>
                                    }
                                    else
                                    {
                                        <button id="cancelno" name="cancelno" class="layui-btn layui-btn-normal layui-btn-sm weizuofei" mId="@pmclass.Id" Status="@Html.Raw(MaterialIsCancel.未作废)"><i class="layui-icon">&#xe605;</i>恢复</button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="tip" id="addbox">

        <form id="form2">
            <div class="tiptop"><span id="addtips">添加材质</span><a onclick="javascript:layer.closeAll();"></a></div>
            <div class="tipinfo">
                <input type="hidden" value="add" id="hiddType" />
                <input type="hidden" value="" id="hiddId" name="hiddId" />
                <ul class="forminfo">

                    <li style="line-height: 34px;"><label style="width:70px;">材质名称<b>*</b></label> <input name="Name" id="Name" type="text" class="validate[required] scinput" value="" style="width:200px" /></li>
                    <li>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">品名<b>*</b></label>
                        <select name="classid" id="classid" class="validate[required] scinput">
                            <option value="">请选择</option>
                            @{
                                foreach (DataLibrary.BaseProductClass pclass in list3)
                                {
                                    @Html.Raw("<option value='" + pclass.Id + "'>" + pclass.Name + "</option>");
                                }
                            }
                        </select>
                    </li>
                    <li style="line-height: 34px;" class="rukuli">
                        <label style="width:70px;">质保书模板<b>*</b></label>
                        <select name="templatename" id="templatename" class="validate[required] scinput">
                            <option value="">请选择</option>
                            @foreach (string str in Model.TemplatName)
                            {
                                <option value="@str">@str</option>
                            }
                        </select>
                    </li>
                    <li style="line-height: 34px;"><label style="width:70px;">材质强度<b>*</b></label> <input name="Standardstrength" id="Standardstrength" type="text" class="validate[required] validate[custom[integer]] scinput" value="" style="width:200px" /></li>
                    <li>
                    <li>
                    </li>
                    <li style="line-height: 34px;"><label style="width:70px;">备注</label> <textarea name="Note" id="Note" class="scinput" style="width:280px;height:120px;"></textarea></li>
                    <li>
                    </li>
                </ul>
            </div>

            <div class="tipbtn">
                <input name="" type="button" class="sure" value="确定" onclick="submitAdd()" />&nbsp;
                <input name="" onclick="javascript: layer.closeAll();" type="button" class="cancel" value="取消" />
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var addformhtml = $("#addbox").html();
        var addformwidth = $("#addbox").width();

        $("#addbox").html("");

        $('.layui-table tbody tr:odd').addClass('odd');

        function getSelectedIds() {
            var selectedids = "";
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedids += $(this).val() + ",";
            });

            return selectedids;
        }
        function getSelectedId() {
            var selectedid = 0;
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedid = $(this).val();
            });

            return selectedid;
        }

        $("#sb").click(function () {
            $("#form1").submit();
        });

        $("#add").click(function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: false,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("add");
        });

        $("#edit").click(function () {

            var selectedid = getSelectedId();

            if (selectedid <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: false,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("edit");

            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/ProductMaterial/Edit?id=' + selectedid,
                success: function (re) {
                    $("#Name").val(re.name);
                    $("#classid").val(re.classid);
                    $("#templatename").val(re.templatename);
                    $("#Note").val(re.note);
                    $("#Standardstrength").val(re.standardstrength);
                    $("#hiddId").val(selectedid);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });
        });
        function Edit(id) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("edit");
            var loadLayer = layer.load(1);
            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/ProductMaterial/Edit?id=' + id,
                success: function (re) {
                    //  console.log(re);
                    $("#Name").val(re.name);
                    $("#classid").val(re.classid);
                    $("#templatename").val(re.templatename);
                    $("#Note").val(re.note);
                    $("#hiddId").val(id);
                    $("#Standardstrength").val(re.standardstrength);
                    layer.close(loadLayer);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(loadLayer);
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });
        }
        $("#delete").click(function () {
            var selectedids = getSelectedIds();

            if (selectedids.length <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }

            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: "/ProductMaterial/Delete",
                    data: "Ids=" + selectedids,
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('您所选择的材质已被应用，不能删除', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })

        $('.zuofei').click(function (ev) {
            // 防止事件冒泡
            var oEvent = ev || event;
            oEvent.cancelBubble = true;
            oEvent.stopPropagation();
            var $this = $(this);
            layer.confirm('确定作废该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "get",
                    url: "/ProductMaterial/Cancel?status=" + $this.attr('Status') + "&id=" + $this.attr('mId'),
                    data: {},
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('操作失败', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })
        $('.weizuofei').click(function (ev) {
            var oEvent = ev || event;
            oEvent.cancelBubble = true;
            oEvent.stopPropagation();
            var $this = $(this);
            layer.confirm('确定恢复该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "get",
                    url: "/ProductMaterial/Cancel?status=" + $this.attr('Status') + "&id=" + $this.attr('mId'),
                    data: {},
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            if (parseInt(re) == -2)
                            {
                                layer.msg('已经有一个正在使用的同名材质,不能恢复!', { icon: 2 });
                            }
                            else
                                layer.msg('操作失败', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })
        function submitAdd() {
            var valid = $("#form2").validationEngine("validate");
            if (valid) {
                $("#Node").val($("#NodeArea").val());
                var url = '/ProductMaterial/Create';
                var selectedid = getSelectedId();
                if ($("#hiddType").val() == "edit") { url = '/ProductMaterial/Edit?id=' + selectedid; }
                if ($("#hiddType").val() == "add") { url = '/ProductMaterial/Create'; }
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form2").serialize(),
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        }
                        if (parseInt(re) < 0) {
                            layer.msg('您已添加该材质，请勿重复添加', { icon: 2 });
                        }
                        if (parseInt(re) == 0) {
                            layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }

        }
    </script>
</body>
</html>
