@page
@model WarrantyManage.Pages.Manage.Settings.WorkShopTeamModel
@inject DataLibrary.DataContext db
@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        jQuery(document).ready(function () {

            layui.use('laydate', function () {

            });


            $("#form1").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

            $("#form1").find("a").each(function () {
                if ($(this).html() == '@ViewData["ReportType"]')
                {
                    $(this).css("font-weight","600");
                }
            });
            $()

            //$("#chkall").selall("id");
        });
        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        }
    </script>
    <style>
        .mainleft {
            padding-right: 0;
        }

        select {
            opacity: 1;
            filter:alpha(opacity=100); 
            border: 1px solid #9c9c9c;
            width: 100px;
            height: 32px;
            line-height: 32px;
        }

        #form1 select {
            border: solid 1px #a7b5bc;
            width: 130px;
        }

        .tipinfo {
            margin-left: 20px;
        }

        div#layui-layer1 {
            width: 400px;
        }

        .tip {
            width: 400px;
        }
        .layui-table tbody tr {
            cursor: pointer;
        }
        #form1 lable {
            font-size: 14px;
            height: 38px;
        }

        input.dfinput {
            height: 38px;
        }
        #form1  select{
            height: 38px;
        }
    </style>
</head>


<body>

    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="javascript:void(0)">基础设置</a></li>
            <li><a href="/Manage/Settings/WorkShopTeam">生产班组</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools" style="height: auto;">
            <form method="get" id="form1">
                <ul class="seachform">
                    <li class="notDistributorCss">
                        <label>生产班组名称：</label>
                        <input name="keyword" type="text" class="dfinput" style="width: 128px;" value="@ViewData["keyword"]" />
                    </li>
                    <li class="notDistributorCss">
                        <label>车间：</label>
                        <select name="WorkshopId">
                            <option value="">请选择</option>
                            @{
                                foreach (var shop in Model.Workshoplist)
                                {
                                    if (ViewData["WorkshopId"] != null && ViewData["WorkshopId"].ToString() == shop.Id.ToString())
                                    {
                                        <option value="@shop.Id" selected="selected">@shop.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@shop.Id">@shop.Name</option>
                                    }


                                }
                            }
                        </select>
                    </li>
                    <li class="notDistributorCss">
                        <label>负责人：</label>
                        <input name="Leader" type="text" class="dfinput" style="width: 128px;" value="@ViewData["Leader"]" />
                    </li>

                    <li><label>&nbsp;</label><button id="sb" name="sb" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button></li>
                </ul>
            </form>
        </div>
        <div style="float:right;position: absolute;top: 48px; right: 10px;">
            <label>&nbsp;</label>
            <button id="add" name="add" class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
            <button id="delete" name="delete" class="layui-btn layui-btn-danger"><i class="layui-icon"></i> 删除</button>
        </div>

        <table class="layui-table">
            <thead>
                <tr>
                    <th style="width:40px"><input name="" type="checkbox" value="" id="chkall" /></th>
                    <th style="width:60px">编号</th>
                    <th style="width:220px">车间</th>
                    <th style="width:220px">工作组名称</th>
                    <th>工作组代码(一个大写字母)</th>
                    <th style="width:220px">负责人</th>
                    <th>添加人</th>
                    <th>添加时间</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var list = ViewData["list"] as List<DataLibrary.PdWorkshopTeam>;
                    if (list != null)
                    {
                        foreach (DataLibrary.PdWorkshopTeam teamlist in list)
                        {
                            <tr onclick="Edit(@teamlist.Id)">
                                <td onclick="stopchoose()"><input name="id" type="checkbox" value="@teamlist.Id" /></td>
                                <td>@teamlist.Id</td>
                                <td>
                                    @{ if (teamlist.WorkshopId > 0)
                                        {
                                            var shop = db.PdWorkshop.FirstOrDefault(c => c.Id == teamlist.WorkshopId);
                                            if (shop != null)
                                            {
                                                @Html.Raw(shop.Name)
                                            }
                                        }
                                    }
                                </td>
                                <td>@teamlist.TeamName</td>
                                <td>@teamlist.Code</td>
                                <td>@teamlist.Leader</td>
                                <td>@teamlist.Adder</td>
                                <td>@Html.Raw(((long)(teamlist.CreateTime.Value)).GetDateTimeFromUnixTime().ToDateTimeString())</td>
                            </tr>
                                            }
                                        }
                }
            </tbody>
        </table>
    </div>

    <div class="tip" id="addbox">

        <form id="form2">
            <div class="tiptop"><span id="addtips">添加生产班组</span><a onclick="javascript:layer.closeAll();"></a></div>
            <div class="tipinfo">
                <input type="hidden" value="add" id="hiddType" />
                <input type="hidden" value="" id="hiddId" name="hiddId" />
                <ul class="forminfo">

                    <li style="line-height: 34px;"><label>生产班组名称<b>*</b></label> <input name="TeamName" id="TeamName" type="text" class="validate[required] scinput" value="" /></li>
                    <li>
                    </li>
                    <li style="line-height: 34px;"><label>班组代码<b>*</b></label> <input name="Code" id="Code" type="text" class="validate[required] scinput validate[custom[WorkShopCode]]" value="" maxlength="1" /><b>一个大写字母</b></li>
                    <li>
                    </li>
                    <li style="line-height: 34px;">
                        <label>生产车间<b>*</b></label>
                        <select class="validate[required] scinput" name="WorkshopId" id="WorkshopId">
                            <option value="">请选择</option>
                            @{
                                foreach (var shop in Model.Workshoplist)
                                {
                                    <option value="@shop.Id">@shop.Name</option>
                                }
                            }
                        </select>
                    </li>
                    <li>
                    </li>
                    <li style="line-height: 34px;"><label>负责人<b>*</b></label> <input type="text" name="Leader" id="Leader" class="validate[required] scinput" /></li>
                    <li>
                    </li>
                    @*<li style="line-height: 34px;"><label>添加人</label> <input type="text" name="Adder" id="Adder" class="scinput"  /></li>
        <li>
        </li>*@
                </ul>
            </div>

            <div class="tipbtn">
                <input name="" type="button" class="sure" value="确定" onclick="submitAdd()" />&nbsp;
                <input name="" onclick="javascript: layer.closeAll();" type="button" class="cancel" value="取消" />
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var addformhtml = $("#addbox").html();
        var addformwidth = $("#addbox").width();

        $("#addbox").html("");

        $('.layui-table tbody tr:odd').addClass('odd');

        function getSelectedIds() {
            var selectedids = "";
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedids += $(this).val() + ",";
            });

            return selectedids;
        }

        function getSelectedId() {
            var selectedid = 0;
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedid = $(this).val();
            });

            return selectedid;
        }

        $("#sb").click(function () {
            $("#form1").submit();
        });

        $("#add").click(function () {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: false,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("add");
        });

        $("#edit").click(function () {

            var selectedid = getSelectedId();

            if (selectedid <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });
            $("#hiddType").val("edit");
            var loadLayer = layer.load(1);
            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/WorkShopTeam/Edit?id=' + selectedid,
                success: function (re) {
                    $("#TeamName").val(re.TeamName);
                    $("#Leader").val(re.Leader);
                    $("#WorkshopId").val(re.WorkshopId);
                    $("#Code").val(re.code);
                    $("#hiddId").val(selectedid);
                    layer.close(loadLayer);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(loadLayer);
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });

        });

        $("#delete").click(function () {
            var selectedids = getSelectedIds();

            if (selectedids.length <= 0) {
                layer.msg('请选中所需编辑行！', { icon: 2 });
                return;
            }

            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: "/WorkShopTeam/Delete",
                    data: "Ids=" + selectedids,
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('您所选择的生产班组已被应用，不能删除', { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })
        function Edit(id) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: addformwidth + "px",
                content: addformhtml,
            });

            $("#hiddType").val("edit");
            var loadLayer = layer.load(1);
            //ajax请求编辑数据
            $.ajax({
                type: "GET",
                url: '/WorkShopTeam/Edit?id=' + id,
                success: function (re) {
                    $("#TeamName").val(re.teamName);
                    $("#Leader").val(re.leader);
                    $("#WorkshopId").val(re.workshopId);
                    $("#Code").val(re.code);
                    $("#hiddId").val(id);
                    layer.close(loadLayer);
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(loadLayer);
                    layer.msg('无法获取到数据！', { icon: 2 });
                }
            });
        }
        function submitAdd() {
            var valid = $("#form2").validationEngine("validate");
            if (valid) {
                $("#Node").val($("#NodeArea").val());
                var url = '/WorkShopTeam/Create';
                if ($("#hiddType").val() == "edit") { url = '/WorkShopTeam/Edit'; }
                if ($("#hiddType").val() == "add") { url = '/WorkShopTeam/Create'; }
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $("#form2").serialize(),
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else if (parseInt(re) == -1) {
                            layer.msg('您已添加该生产班组，请勿重复添加', { icon: 2 });
                        } else if (parseInt(re) == -2) { 
                            layer.msg('该车间已存在该班组代码，请勿重复添加', { icon: 2 });
                        }
                        else {
                            layer.msg(re, { icon: 2 });
                        }
                        layer.close(loadLayer);
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }

        }
    </script>
</body>
</html>