@page
@inject ICMSService _cmsService
@{
    ViewData["Tag"] = 1;
    ViewData["Title"] = "产品";
    ViewData["Desc"] = "产品";
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;

}
<div class="container_box">
    <div class="portion news">
        @*//企业产品*@
        <div class="title_bar">
            <img style="position:relative;top:-1px;" src="/Content/images/qiye.png" /><h1>企业产品</h1>
        </div>
        @{
            var qproduct = _cmsService.IcontentColumnDataService.GetContentColumnDataList("企业产品", 1, 15);

            if (qproduct != null)
            {
                foreach (var item in qproduct)
                {
                    <div class="content">
                        <p class="row_box">
                            <div class="productTitle">@Html.Raw(item["productname"])</div>
                            @if (item["Image"].SafeString() != string.Empty)
                            {
                                foreach (var imgItem in item["Image"].ToString().Split(','))
                                {
                                    <img class="ImgClass" alt="@Html.Raw(item["productname"])" style="height:131.39px;" src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@imgItem" />
                                }
                            }
                            <div class="clearfix"></div>

                        </p>

                    </div>
                }
            }

        }
        @*集团产品*@
        <div class="title_bar">
            <img src="~/Content/images/jituan.png" /><h1>集团产品</h1>
        </div>
        @{

            var product = _cmsService.IcontentColumnDataService.GetContentColumnDataList("集团产品", 1, 15);
            if (product != null)
            {
                foreach (var item in product)
                {
                    //var item = Model.SiteNews_jcp[i - 1];
                    <div class="content">
                        <p class="row_box">
                            <div class="productTitle">@Html.Raw(item["productname"])</div>
                            @if (item["Image"].SafeString() != string.Empty)
                            {
                                foreach (var imgItem in item["Image"].ToString().Split(','))
                                {
                                    <img class="ImgClass" alt="@Html.Raw(item["productname"])" src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@imgItem" />
                                }

                            }

                            @{
                                if (item["content"] != null)
                                {
                                    <div class="content_table">
                                        @Html.Raw((item["content"].ToString().Replace("../UploadFile", mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1) + "/UploadFile")).Replace("/http://", "http://"))
                                    </div>
                                }
                            }
                            <div class="clearfix"></div>

                        </p>

                    </div>
                                    }

                                }
        }
        @{ 
            if(product==null&&qproduct==null)
            {
                <div>
                    <div class="nodata">
                        <img src = "/Content/images/nodata.png" width="100" />
                        <div class="tip">还没有产品哦</div>
                    </div>
                </div>

            }
        }
    </div>

</div>
@section head
    {
    <link href="/Content/css/product.css" rel="stylesheet" />
}