@page
@model WarrantyManage.Pages.Manage.SiteLink.LinkEditModel
@inject DataLibrary.DataContext _db
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>链接编辑</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <style>
        .LinkAdd {
            margin-top: 20px
        }

        select {
            opacity: 1;
            border: 1px solid #9c9c9c;
            width: 150px;
            height: 32px;
            line-height: 32px;
        }
    </style>

    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.parse.js"></script>

</head>


<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="/Manage/Site/LinkList">网站管理</a></li>
            <li>友情链接修改</li>
        </ul>
    </div>
    <div class="LinkAdd">
        <form method="post" id="form2">
            @{
                var a = Model.SiteLink;
            }

            <ul class="forminfo">

                <li style="line-height: 34px;">
                    <label>链接名字</label>
                    <input name="id" id="id" type="hidden" value="@a.Id" />
                    <input name="name" id="name" type="text" class="validate[required] scinput" maxlength="25" style="width:300px;" value="@a.Name" />
                </li>
                <li style="line-height: 34px;">
                    <label>内容描述</label>
                    <textarea id="description" class="validate[required] scinput" placeholder="限0-240个字符" name="description" maxlength="240" style="width:300px;height:60px;line-height:20px;">@a.Description</textarea>
                </li>
                <li style="line-height: 34px;">
                    <label>链接地址</label>
                    <input name="url" id="url" type="text" class="validate[required]  validate[custom[url]] scinput" maxlength="64" style="width:200px;" value="@a.Url" />
                </li>
                <li style="line-height: 34px;">
                    <label>显示位置</label>
                    <select id="position" name="position" style="width:200px">
                        @if (a.Position == (int)SiteLinkPostion.PC端显示)
                        {
                            <option value="@((int)SiteLinkPostion.PC端显示)" selected="selected">Pc端显示</option>
                            <option value="@((int)SiteLinkPostion.移动端显示)">移动端显示</option>
                            <option value="@((int)SiteLinkPostion.PC移动全显示)">Pc端和移动端均显示</option>
                        }
                        else if (a.Position == (int)SiteLinkPostion.移动端显示)
                        {
                            <option value="@((int)SiteLinkPostion.PC端显示)">Pc端显示</option>
                            <option value="@((int)SiteLinkPostion.移动端显示)" selected="selected">移动端显示</option>
                            <option value="@((int)SiteLinkPostion.PC移动全显示)">Pc端和移动端均显示</option>
                        }
                        else if (a.Position == (int)SiteLinkPostion.PC移动全显示)
                        {
                            <option value="@((int)SiteLinkPostion.PC端显示)">Pc端显示</option>
                            <option value="@((int)SiteLinkPostion.移动端显示)">移动端显示</option>
                            <option value="@((int)SiteLinkPostion.PC移动全显示)"  selected="selected">Pc端和移动端均显示</option>
                        }
                    </select>
                </li>
                <li style="line-height: 34px;">
                    <label>链接类型</label>
                    <select name="linkType" id="linkType" style="width:200px">
                        @if (a.LinkType == ((int)SiteLinkType.文字链接))
                        {
                            <option value="@((int)SiteLinkType.文字链接)" selected>文字链接</option>
                            <option value="@((int)SiteLinkType.图片链接)">图片链接</option>
                        }
                        else
                        {
                            <option value="@((int)SiteLinkType.文字链接)">文字链接</option>
                            <option value="@((int)SiteLinkType.图片链接)" selected>图片链接</option>
                        }
                    </select>
                </li>
                <li id="piclin" style="line-height: 34px">
                    <label>链接图片</label>
                    <div class="layui-upload">
                        <button type="button" class="layui-btn" id="test1">上传图片</button>
                        <div class="layui-upload-list" id="showPic">
                            <img class="layui-upload-img" style="margin-left: 95px;max-width:200px;" id="Logo" src="@a.PicLink" />
                            <input type="hidden" id="picLink" name="picLink" value="@a.PicLink" />
                        </div>
                        <p><a href="javascript:removeLogo()" style="margin-left: 95px;">[删除]</a></p>
                    </div>
                </li>
                <li id="picwid" style="line-height: 34px">
                    <label>图片宽度</label>
                    <input name="picWidth" id="picWidth" placeholder="请输入1000以内的整数" type="text" class="validate[required]  validate[custom[onlyNumberSp]] scinput" maxlength="3" style="width:200px;" value="@a.PicWidth" />
                </li>
                <li id="pichei" style="line-height: 34px">
                    <label>图片高度</label>
                    <input name="picHeight" id="picHeight" placeholder="请输入1000以内的整数" type="text" class="validate[required]  validate[custom[onlyNumberSp]] scinput" maxlength="3" style="width:200px;" value="@a.PicHeight" />
                </li>
                <li style="line-height: 34px;">
                    <label>是否显示</label>
                    <group>
                        @if (a.IsShow == ((int)SiteIsShow.是))
                        {
                            <input type="radio" name="isShow" id="isShow" value="@((int)SiteIsShow.是)" checked="checked" /><a>是</a><input type="radio" name="isShow" id="isShow" value="@((int)SiteIsShow.否)" /> <a>否</a>
                        }
                        else
                        {
                            <input type="radio" name="isShow" id="isShow" value="@((int)SiteIsShow.是)" /><a>是</a><input type="radio" name="isShow" id="isShow" value="@((int)SiteIsShow.否)" checked="checked" /> <a>否</a>
                        }
                    </group>
                </li>
                <li style="line-height: 34px;margin-left:85px">
                    <input name="save" type="button" class="sure" value="保存" onclick="LinkEdit()" return:false />&nbsp;
                </li>
            </ul>
        </form>
    </div>


    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#form2").validationEngine({
                validationEventTriggers: "blur",
                inlineValidation: true,
                success: false,
            });

        });

        $(function () {
            if ($("select[name=linkType]").val() == 1) {
                $("#piclin").hide();
                $("#picwid").hide();
                $("#pichei").hide();
            }

            $("select[name=linkType]").change(function () {
                var value = $(this).val();
                if (value == 2) {
                    $("#piclin").show();
                    $("#picwid").show();
                    $("#pichei").show();
                }
                else if (value == 1) {
                    $("#piclin").hide();
                    $("#picwid").hide();
                    $("#pichei").hide();
                }
            })
        })

        layui.use(['upload'], function () {
            var $ = layui.jquery
                , upload = layui.upload;

            //普通图片上传
            upload.render({
                elem: '#test1'
                , url: '/UploadImg/Upload'
                , before: function (obj) {

                }
                , done: function (res) {
                    if (res.result) {
                        $('#Logo').attr('src', '');
                        $("input[name='picLink']").attr('value', res.msg);
                    }
                    else {
                        layer.msg('上传失败');
                    }
                    //上传成功
                }
                , error: function () {

                }
            })
        })


        function removeLogo() {
            $('#Logo').attr('src', res.msg);

        }
        function LinkEdit() {
            var valid = $("#form2").validationEngine("validate");
            if (valid == true) {
                var loadLayer = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: "/SiteLink/LinkEdit",
                    data: $("#form2").serialize(),
                    success: function (re) {

                        if (re == "ok") {
                            layer.msg("修改成功！")
                            setTimeout(function () { window.location.href = "/Manage/SiteLink/LinkList" }, 100);
                            layer.close(loadLayer);
                        }
                        else if (re == "Exist") {
                            layer.msg("此名称已存在！");
                            layer.close(loadLayer);
                            return false;
                        }
                        else {
                            layer.msg("修改失败，服务器错误！")
                            setTimeout(function () { window.location.href = "/Manage/SiteLink/LinkList" }, 100);
                            layer.close(loadLayer);
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.close(loadLayer);
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                })
            }
            else {
                layer.msg("请再次确认以上内容填写正确！");
            }
        }
    </script>
</body>
</html>