@inject Common.IService.IUserService _userService
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    @if (ViewData["Title"] == null)
    {
        <title>@Html.Raw(ViewBag.SiteBasic.SiteTitle)</title>
    }
    else
    {
        <title>@Html.Raw(ViewData["Title"] + "-" + ViewBag.SiteBasic.CompName)</title>
    }
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    @if (ViewData["Desc"] == null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.SiteBasic.SiteDesc)" />
    }
    else
    {
        <meta name="description" content="@Html.Raw(ViewData["Desc"]+"-"+ViewBag.SiteBasic.CompName)" />
    }
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/base.css" rel="stylesheet" type="text/css" />
    <script src="/Content/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    @RenderSection("head", required: false)
   
</head>
<body>

    <div class="header">
        <span class="logo">
            <a href="/"><img src="@ViewBag.SiteSetting.Domain_PC.Substring(0,ViewBag.SiteSetting.Domain_PC.Length-1)@ViewBag.SiteBasic.Logo" /></a>
            <span class="logo2">
                <a href="/"><img src="@ViewBag.SiteSetting.Domain_PC.Substring(0,ViewBag.SiteSetting.Domain_PC.Length-1)/Content/images/logo2.png" /></a>
            </span>
            <span class="line"></span>
        </span>
        <div class="fontCss">@Html.Raw(ViewBag.SiteBasic.LogoText)</div>

        <span class="right">
            @if (_userService.IsAuth)
            {
                <a href="@ViewBag.SiteSetting.Domain_WAPManage">
                    <img class="after" src="/Content/images/head_portrait_after.png" />
                    @if (_userService.IsManageMember && _userService.ApplicationUser.Mng_admin != null)
                    {
                        <span>@Html.Raw(_userService.ApplicationUser.Mng_admin.RealName)</span>
                    }
                    else
                    {
                        <span>@Html.Raw(_userService.SaleSellerUser.Name)</span>
                    }
                </a>
            }
            else
            {
                <a href="/Login"><img class="before" src="/Content/images/head_portrait_after.png" /></a>
            }
        </span>
        <div class="clearfix"></div>
    </div>
    <div class="nav">
        <a href="/">首页</a>
        <a href="/Product/">产品</a>
        <a href="/Service">服务</a>
        <a href="/Login">登录</a>
        <div class="clearfix"></div>
    </div>
    <div class="perch"></div>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <p>@Html.Raw(ViewBag.SiteBasic.Copyright)</p>
        <p>@Html.Raw(ViewBag.SiteBasic.Icp)</p>
    </div>

    @RenderSection("foot", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".nav a").eq(@ViewBag.Tag).addClass("current");
        });
    </script>
    @RenderSection("script", required: false)
    @Html.Raw(ViewBag.SiteBasic.StatsCode)
</body>

</html>