@page
@inject ICMSService _cmsService
@inject Common.IService.IContentGroupService _contentService
@{
    ViewData["Tag"] = 0;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
    var list = _cmsService.GetSiteLink((int)SiteLinkPostion.移动端显示);
    var sitelink = _cmsService.GetSiteLink((int)SiteLinkPostion.PC移动全显示);
}

<div class="banner">
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            @if (siteBasic.CarouselImage.SafeString() != string.Empty)
            {
                for (var i = 0; i < siteBasic.CarouselImage.Object.Count; i++)
                {
                    @if (i == 0)
                    {
                        <div class="item active">
                            <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@siteBasic.CarouselImage.Object[i]" width="100%" />
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@siteBasic.CarouselImage.Object[i]" width="100%" />
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>

<div class="container_box">
    <div class="portion news">
        <div class="title_bar">
            <img src="/Content/images/news.png" />
            <h1>涟钢新闻</h1>
        </div>
        <div class="content">
            @{
                DataLibrary.SiteCategory dict = _contentService.GetSiteCategoryByName("涟钢新闻");
                if (dict != null)
                {
                    var Children = _contentService.GetAllDataForRecursion(dict.Id, dict.Id);
                    var news = _cmsService.IcontentColumnDataService.GetContentColumnDataList(Convert.ToInt32(Children[1]["id"]), 1, 5);
                    for (var i = 0; i < news.Count; i++)
                    {
                        <a class="row_box" href="/News/@Html.Raw(news[i]["cid"]+ "/" +news[i]["Id"]+ ".html")">
                            <p>@(i + 1)、@Html.Raw(news[i]["title"])</p><span>@Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(news[i]["createtime"])).ToString("MM/dd")</span>
                            <div class="clearfix"></div>
                        </a>
                    }
                }
            }
        </div>
    </div>
    @{
        var jcompany = _cmsService.GetSinglePage("集团介绍");
        if (jcompany != null)
        {
            <div class="portion introduce">
                <div class="title_bar">
                    <img src="/Content/images/introduce.png" />
                    <h1>@Html.Raw(jcompany.Title)</h1>
                </div>
                <div class="content">
                    <div id="contentj" class="introducep">@Html.Raw(jcompany.Content)</div>
                    <img id="unfoldj" style="display:inline" src="/Content/images/unfold.png" onclick="ShowAllContentj('unfold')" />
                    <img id="foldj" style="display:none" src="/Content/images/fold.png" onclick="ShowAllContentj('fold')" />
                </div>
            </div>
        }
    }
    @{
        var company = _cmsService.GetSinglePage("企业介绍");
        if (company != null)
        {
            <div class="portion introduce">
                <div class="title_bar">
                    <img src="/Content/images/introduce.png" />
                    <h1>@Html.Raw(company.Title)</h1>
                </div>
                <div class="content">
                    <div id="content" class="introducep">@Html.Raw(company.Content)</div>
                    <img id="unfold" style="display:inline" src="/Content/images/unfold.png" onclick="ShowAllContent('unfold')" />
                    <img id="fold" style="display:none" src="/Content/images/fold.png" onclick="ShowAllContent('fold')" />
                </div>
            </div>
        }
    }



    <div class="portion mien">
        <div class="title_bar">
            <img src="/Content/images/mien.png" />
            <h1>集团风采</h1>
        </div>
        <div class="content">
            @{
                var fengcai = _cmsService.IcontentColumnDataService.GetContentColumnDataList("集团风采", 1, 5);
                if (fengcai != null)
                {
                    foreach (var item in fengcai)
                    {
                        <a href="FengCai/@Html.Raw(item["cid"]+ "/" + item["Id"] + ".html")">
                            <div class="row_box">
                                @if (item["Image"].SafeString() != string.Empty)
                                {
                                    <div class="picture"><img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@item["Image"].ToString().Split(',')[0]" /></div>
                                }
                                <div class="detail">
                                    <h2>@Html.Raw(item["title"])</h2>
                                    <p>@Html.Raw(item["description"])</p>
                                </div>
                            </div>
                        </a>
                    }
                }
            }
        </div>
    </div>

    <div class="portion mien">
        <div class="title_bar">
            <img src="/Content/images/mien.png" />
            <h1>企业风采</h1>
        </div>
        <div class="content">
            @{
                var qfengcai = _cmsService.IcontentColumnDataService.GetContentColumnDataList("企业风采", 1, 5);
                if (qfengcai != null)
                {
                    foreach (var item in qfengcai)
                    {
                        <a href="FengCai/@Html.Raw(item["cid"]+ "/" + item["Id"]+ ".html")">
                            <div class="row_box">
                                @if (item["Image"].SafeString() != string.Empty)
                                {
                                    <div class="picture"><img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@item["Image"].ToString().Split(',')[0]" /></div>
                                }
                                <div class="detail">
                                    <h2>@Html.Raw(item["title"])</h2>
                                    <p>@Html.Raw(item["description"])</p>
                                </div>
                            </div>
                        </a>
                    }
                }
            }
        </div>
    </div>
</div>
@if (list.Count > 0 || sitelink.Count > 0)
{
    <div id="Wfriend">
        <div id="FriendShip">
            <span style="font-size:14px;font-weight:bold">友情链接</span>
            <ul>
                @foreach (var a in list)
                {
                    if (a.LinkType == (int)SiteLinkType.图片链接)
                    {
                        <li>
                            <a href="@a.Url" title="@a.Description"><img src="@a.PicLink" style="height:@Convert.ToInt32(a.PicHeight)px;width:@Convert.ToInt32(a.PicWidth)px" /></a>
                        </li>
                        @if (a.Sequence > 0)
                        {
                            <li>|</li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="@a.Url" title="@a.Description">@a.Name</a>
                        </li>
                        @if (a.Sequence > 0)
                        {
                            <li>|</li>
                        }
                    }

                }
                @if (sitelink.Count > 0&&list.Count>0)
                {
                    <li>|</li>
                }
                @foreach (var a in sitelink)
                {
                    if (a.LinkType == (int)SiteLinkType.图片链接)
                    {
                        <li>
                            <a href="@a.Url" title="@a.Description"><img src="@a.PicLink" style="height:@Convert.ToInt32(a.PicHeight)px;width:@Convert.ToInt32(a.PicWidth)px" /></a>
                        </li>
                        @if (a.Sequence > 1)
                        {
                            <li>|</li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="@a.Url" title="@a.Description">@a.Name</a>
                        </li>
                        @if (a.Sequence > 1)
                        {
                            <li>|</li>
                        }
                    }
                }
            </ul>

        </div>
    </div>
}
@section head{
    <link rel="stylesheet" type="text/css" href="/Content/css/index.css">
    <script type="text/javascript" src="/Content/js/jquery.contentcarousel.js"></script>
    <script type="text/javascript" src="/Content/js/index.js"></script>
}
@section script{
    <script type="text/javascript">
        layui.use(['carousel', 'form'], function () {
            var carousel = layui.carousel
                , form = layui.form;
            //改变下时间间隔、动画类型、高度
            carousel.render({
                elem: '#carouserlImg'
                , interval: 5000
                , anim: 'default'
            });
        });
    </script>
}

