@page
@inject ICMSService _cmsService
@inject DataLibrary.DataContext Db
@functions{
    public DataLibrary.SiteBasic SiteBasic { get; set; }

    // 产品模型
    public DataLibrary.PdProduct PdProduct { get; set; }

    public DataLibrary.BaseProductClass ProductClass { get; set; }

    // 材质
    public DataLibrary.BaseProductMaterial Material { get; set; }

    // 规格
    public DataLibrary.BaseSpecifications Spec { get; set; }

    // 班组
    public DataLibrary.PdWorkshopTeam PdWorkshopTeam { get; set; }

    public DataLibrary.PdWorkshop PdWorkshop { get; set; }

    /// <summary>
    /// Gets or sets 出库纪录
    /// </summary>
    public DataLibrary.PdStockOut PdStockOut { get; set; }

    public void OnGet(string batcode, string validcode)
    {
        var bc = batcode;
        var vc = validcode;
        if (string.IsNullOrEmpty(bc) && string.IsNullOrEmpty(vc))
        {
            bc = this.Request.Query["c"];
            vc = this.Request.Query["r"];
        }

        this.SiteBasic = (from c in this.Db.SiteBasic select c).ToList()[0];

        this.PdProduct = this.Db.PdProduct.FirstOrDefault(x => x.Batcode == bc && x.Randomcode == vc);
        if (this.PdProduct != null)
        {
            this.ProductClass = this.Db.BaseProductClass.FirstOrDefault(x => x.Id == this.PdProduct.Classid);
            this.Material = this.Db.BaseProductMaterial.FirstOrDefault(x => x.Id == this.PdProduct.Materialid);
            this.Spec = this.Db.BaseSpecifications.FirstOrDefault(x => x.Id == this.PdProduct.Specid);
            this.PdWorkshopTeam = this.Db.PdWorkshopTeam.FirstOrDefault(x => x.Id == this.PdProduct.WorkShift);
            this.PdWorkshop = this.Db.PdWorkshop.FirstOrDefault(x => x.Id == this.PdWorkshopTeam.WorkshopId);
            this.PdStockOut = this.Db.PdStockOut.FirstOrDefault(c => c.Productid == this.PdProduct.Id);
        }
    }
}
@{
    ViewData["Title"] = "服务";
    ViewData["Desc"] = "服务";
    ViewData["Tag"] = 2;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
}
@section head
    {
    <link href="/Content/css/service.css" rel="stylesheet" />
    <link href="/Content/css/search_result.css" rel="stylesheet" />
    <link href="/Content/js/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/layui/layui.js"></script>
    <script type="text/javascript" src="/Content/js/login.js"></script>
}
<div class="banner_share">
    <img src="/Content/images/service_center.jpg" />
</div>

@if (Model.PdProduct == null)
{
    <div class="nodata" style="position:initial;padding-top:100px;padding-bottom:100px;height:initial;text-align:center;">
        <img src="~/Content/images/nodata.png" style="width:40%;" />
        <div class="tip" style="color:gray;padding:10px 0px;">
            暂无产品信息！
        </div>
    </div>
}
else
{
    <div class="search_box padding_box">
        <div class="title_box">
            <h1>产品质量证明书/</h1>
            <small>INSPECTION CERTIFICATE</small>
            <div class="clearfix"></div>
        </div>
        <div class="search_details">
            <div class="details_box">
                <div class="details_left">
                    <div class="details_row">
                        <span>名称:</span>
                        <span>@Model.ProductClass.Gbname</span>
                    </div>
                    <div class="details_row">
                        <span>牌号:</span>
                        <span>@Model.Material.Name</span>
                    </div>
                    <div class="details_row">
                        <span>批号:</span>
                        <span>@Model.PdProduct.Batcode</span>
                    </div>
                    <div class="details_row">
                        <span>规格:</span>
                        <span>@Model.Spec.Specname</span>
                    </div>
                    <div class="details_row">
                        <span>重量:</span>
                        <span>@Html.Raw(Convert.ToInt32(Model.Spec.Refermeterweight * Model.Spec.Referlength * Model.Spec.Referpiececount))@Html.Raw("  kg")</span>
                    </div>
                    <div class="details_row">
                        <span>支数:</span>
                        <span>@Model.PdProduct.Piececount</span>
                    </div>
                    <div class="details_row">
                        <span>生产日期:</span>
                        <span>@Util.Extensions.GetDateTimeFromUnixTime((long)Model.PdProduct.Createtime).ToString("yyyy年MM月dd日")</span>
                    </div>
                    <div class="details_row">
                        <span>出厂日期:</span>
                        <span>
                            @if (Model.PdStockOut != null && Model.PdStockOut.Createtime.HasValue)
                            {
                                <p>@(((long)Model.PdStockOut.Createtime.Value).GetDateTimeFromUnixTime().ToString("yyyy年MM月dd日"))</p>
                            }
                            else
                            {
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;日</p>
                            }
                        </span>
                    </div>
                </div>

                <div class="details_right">
                    <div class="details_row">
                        <span>捆号:</span>
                        <span>@Model.PdProduct.Bundlecode</span>
                    </div>
                    <div class="details_row">
                        <span>定尺:</span>
                        <span>@Model.PdProduct.Length</span>
                    </div>
                    <div class="details_row">
                        <span>批号校检码:</span>
                        <span>@Model.PdProduct.Randomcode</span>
                    </div>
                    <div class="details_row">
                        <span>生产班组:</span>
                        <span>@Model.PdWorkshopTeam.TeamName</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="details_box">
                <div class="details_row">
                    <span>指定查询官网:</span>
                    <span>@mngSetting.Domain_PC</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="search_box padding_box">
        <div class="title_box">
            <h1>打印产品质量证明书/</h1>
            <small>PRINT CERTIFICATE</small>
            <div class="clearfix"></div>
        </div>

        <div class="content">
            <div class="row_box">
                <h2>手机</h2>
                <div class="input_box"><input type="text" id="UserName" name="UserName" placeholder="请输入手机号码" /></div>
                <input class="send" type="button" name="validcode" id="sendcode" value="发送验证码" />
            </div>
            <div class="row_box">
                <h2>短信验证码</h2>
                <div class="input_box"><input type="text" id="Code" name="Code" placeholder="请输入验证码" /></div>
            </div>
            <span>请通过您的供货商获取电子《产品质量证明书》授权，登录官网下载。</span>
            <input type="hidden" name="SystemMemberType" id="SystemMemberType" value="@Convert.ToInt32(DataLibrary.EnumList.SystemMemberType.Seller)" />
            <div class="determine"><input class="common_button" type="submit" id="btnLogin_ByPhone" value="确定"></div>
        </div>
    </div>
}
