@page
@model WarrantyManage.Pages.Manage.Site.ModelContent.ListIframeModel
@inject Common.IService.IContentGroupService _contentService
@inject DataLibrary.DataContext _db
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>系统首页</title>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        function stopchoose() {
            cancelBubble();
        }
        function cancelBubble(e) {
            var evt = e ? e : window.event;
            if (evt.stopPropagation) {        //W3C
                evt.stopPropagation();
            } else {       //IE
                evt.cancelBubble = true;
            }
        }
    </script>
    <style type="text/css">
        .layui-table td {
            text-indent: 0px;
        }

        .layui-table td, .layui-table th {
            padding: 9px 15px;
        }

        .tree_select {
            color: red;
        }

        .layui-table tbody tr {
            height: 49px;
            cursor: pointer;
        }
    </style>
</head>


<body>


    <div>
        <div>
            <div style="font-size: 18px;font-style: normal;font-weight:bold;padding:10px 0px 6px 12px;">@Html.Raw(Model.ContentGroup.ContentTitle)</div>
            <div style="height:1px;background-color:#e5e5e5;margin-top:1.5px;"></div>
            <form method="get" id="form1">
                <div class="rightinfo">
                    <div class="operatorbtns">
                        <label style="font-size:14px">
                            关键字：
                        </label>
                        <input name="cid" id="cid" type="hidden" class="scinput" value="@Model.ContentGroup.Id" />
                        <input name="keyword" id="keyword" type="text" class="scinput" value="@Model.Keyword" />
                        <button type="button" id="sb" name="sb" style="margin-left:10px;" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe615;</i>查询</button>
                        <button type="button" id="add" name="add" class="layui-btn layui-btn-sm layui-btn-normal"><i class="layui-icon">&#xe654;</i>添加</button>
                        <button type="button" id="delete" name="delete" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon"></i> 删除</button>
                    </div>

                    <table class="layui-table">
                        <thead>
                            <tr>
                                <th><input name="" type="checkbox" value="" id="chkall" /></th>
                                @{
                                    foreach (var item in Model.BaseManageModels)
                                    {
                                        if (Model.BaseManageModels.IndexOf(item) < 6 && item.PageShowType != DataLibrary.EnumList.PageShowType.富文本框)
                                        {
                                            <th>@item.FildDescription</th>
                                        }
                                    }
                                    @*<th>操作</th>*@
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in Model.DirList)
                                {
                                    <tr onclick="Edit(@item["Id"],@item["cid"])">
                                        <td onclick="stopchoose()"><input name="id" type="checkbox" value="@item["Id"]" /></td>
                                        @{
                                            foreach (var model in Model.BaseManageModels)
                                            {

                                                if (Model.BaseManageModels.IndexOf(model) < 6 && model.PageShowType != DataLibrary.EnumList.PageShowType.富文本框)
                                                {
                                                    if (model.PageShowType == DataLibrary.EnumList.PageShowType.图片)
                                                    {
                                                        <td>
                                                            @{
                                                                if (item[model.FildName] != null)
                                                                {
                                                                    foreach (var img in item[model.FildName].ToString().Split(","))
                                                                    {
                                                                        <img src="@img" style="max-height:100px;" />
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                    }
                                                    else if (model.PageShowType == DataLibrary.EnumList.PageShowType.下拉框 || model.PageShowType == DataLibrary.EnumList.PageShowType.单选按钮 || model.PageShowType == DataLibrary.EnumList.PageShowType.复选框)
                                                    {
                                                        if (item[model.FildName] != null && item[model.FildName].ToString() != "")
                                                        {
                                                            var val = string.Empty;
                                                            for (var i = 1; i <= model.FildValue.Split(",").Length; i++)
                                                            {
                                                                if (model.PageShowType == DataLibrary.EnumList.PageShowType.下拉框)
                                                                {
                                                                    if (Convert.ToInt32(item[model.FildName]) == i)
                                                                    {
                                                                        val = model.FildValue.Split(",")[i - 1];
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    if (Convert.ToInt32(item[model.FildName]) == i - 1)
                                                                    {
                                                                        val = model.FildValue.Split(",")[i - 1];
                                                                    }
                                                                }
                                                            }
                                                            if (!string.IsNullOrEmpty(val))
                                                            {
                                                                <td>@val</td>
                                                            }
                                                            else
                                                            {
                                                                <td></td>}
                                                        }
                                                        else
                                                        {
                                                            <td></td>
                                                        }
                                                    }
                                                    else if (model.PageShowType == DataLibrary.EnumList.PageShowType.时间选择框)
                                                    {
                                                        if (item[model.FildName] != null)
                                                        {
                                                            <td>@Util.Extensions.GetDateTimeFromUnixTime(Convert.ToInt64(item[model.FildName])).ToDateTimeString()</td>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (item[model.FildName] != null)
                                                        {
                                                            if (item[model.FildName].ToString().Length > 20)
                                                            {
                                                                <td>@item[model.FildName].ToString().Substring(0, 20)...</td>
                                                            }
                                                            else
                                                            {
                                                                <td>@item[model.FildName]</td>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @await Component.InvokeAsync("PageList", new
                    {
                        PageSize = Model.PageSize,
                        PageIndex = Model.Page,
                        PageCount = Model.PageCount,
                        PageUrl = Request.GetAbsoluteUri(new List<KeyValuePair<string, string>>() {
                                                                                                                                                                        new KeyValuePair<string, string>("pg","{0}")
                                                                                                                                                                }),
                        PageText = "{0}",
                        ShowCount = 6,
                        ShowAll = false
                    })
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

        $('#sb').click(function () {
            $('#form1').submit();
        });

        function getSelectedIds() {
            var selectedids = "";
            //获取最后一条选中项
            $("input[name='id']:checked").each(function () {
                selectedids += $(this).val() + ",";
            });

            return selectedids;
        }

        var contentName = "";



        $("#add").click(function () {
            window.location.href = "/Manage/Site/ModelContent/Add?contentId=" + @Model.ContentGroup.Id;
        });

        function Edit(Id, ContentId) {
            window.location.href = "/Manage/Site/ModelContent/Add?Id=" + Id + "&contentId=" + ContentId
        }


        $("#delete").click(function () {
            var selectedids = getSelectedIds();

            if (selectedids.length <= 0) {
                layer.msg('请选中所需删除行！', { icon: 2 });
                return;
            }

            layer.confirm('确定删除该记录？此操作不可恢复！', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: "POST",
                    url: "/ContentGroup/DeleteModelContent",
                    data: "Ids=" + selectedids + "&ContentId=" +@Model.ContentGroup.Id,
                    success: function (re) {
                        if (parseInt(re) > 0) {
                            layer.msg('操作成功', { icon: 1 });
                            setTimeout("window.location.reload();", 1000);
                        } else {
                            layer.msg('操作失败，请稍候重试', { icon: 2 });
                        }
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.msg('操作失败，出现服务器错误！', { icon: 2 });
                    }
                });
            }, function () {

            });
        })

    </script>
</body>
</html>
