@page
@model WarrantyManage.Pages.Manage.IndexModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>@Model.Config.Name - @Model.Config.NameEn</title>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{ await Html.RenderPartialAsync("_ValidationCssPartial");}
    <script type="text/javascript">
        $(function () {
            $(".divleft").load("/Manage/Left?parId=@Model.FirstId");

            //顶部导航切换
            $(".nav li a").click(function () {
                $(".nav li a.selected").removeClass("selected")
                $(this).addClass("selected");
            });

            $('.title').click(function () {
                var $ul = $(this).next('ul');
                //$('dd').find('ul').slideUp();
                if ($ul.is(':visible')) {
                    $(this).next('ul').slideUp();
                } else {
                    $(this).next('ul').slideDown();
                }
            });


        });

        function selectMenu(parid, url) {

            $('.divleft').load('/Manage/Left?ParId=' + parid, function () {
                if (url != '') {
                    $("#rightFrame").attr('src', url);
                    $('.divleft a').each(function () {
                        if ($(this).attr('href') == url && $(this).attr('href') != '') {
                            $(this).parent().addClass("active");
                        }
                    });
                } else {
                    //$.ajax({
                    //    type: "GET",
                    //    url: "/Manage/GetFirstChildUrl",
                    //    data: "parid=" + parid,
                    //    success: function (data) {
                    //        if (data != "")
                    //        {
                    //            $("#rightFrame").attr('src', data);
                    //            $('.divleft a').each(function () {
                    //                if ($(this).attr('href') == data && $(this).attr('href') != '') {
                    //                    $(this).parent().addClass("active");
                    //                }
                    //            });
                    //        }
                    //    }
                    //});
                }
            });

        }

        $(document).ready(function () {
            setDivSize();
        });

        $(window).resize(function () {
            setDivSize();
        });

        function setDivSize()
        {
            var he = $(window).height() - $(".divtop").height();
            $(".divright").css({ "height": he });
            $(".divleft").css({ "height": he });
        }
    </script>
    <style type="text/css">
        .divtop {
            width: 100%;
            height: 68px;
            overflow: hidden;
        }

        .content {
            width: 100%;
            vertical-align: top;
            margin:0;
            padding:0;
        }

        .divright {
            display: inline-block;
            vertical-align: top;
            width: 88%;
        }

        .divleft {
            width: 12%;
            float: left;
            background: #f0f9fd;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div>
        <div class="divtop">
            <div class="header">
                <div class="topleft">
                    <h1 style="font-size: 22px;font-family: '微软雅黑';font-weight: normal; white-space:nowrap;">
                        @Model.Config.Name
                    </h1>
                    <span>@Model.Config.NameEn</span>
                </div>
                <ul class="nav">
                    @{ 
                        List<DataLibrary.MngMenuclass> menu = Model.List_menu;
                        if (menu.Count > 0) {
                            for (int i = 0; i < menu.Count; i++)
                            {
                            <li><a @(i == 0 ? "class=selected" : "") href="javascript:void(0)" onclick="selectMenu(@menu[i].Id,'@menu[i].Url');"> <h2>@menu[i].ClassName</h2></a></li>
                            }
                        }
                    }
                </ul>
                @if (Model.User != null)
                {
                    <div class="topright">
                        <div class="user">
                            <span>@Model.User.Mng_admin.RealName</span>
                            @if (Model.MsgCount > 0) {
                            <a href="/Message/" target="rightFrame">
                                <i>消息</i>
                                <b>@Model.MsgCount</b>
                            </a>
                            }
                            <span style="background:none;padding-left:10px;"><a href="/LogOff" style="color:#accdda;">退出</a></span>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="content">
            <div class="divleft">
            </div>
            <div class="divright">
                <iframe frameborder="0" src="/Manage/Default" name="rightFrame" id="rightFrame" style="width:100%;height:100%;"></iframe>
            </div>
        </div>
    </div>

</body>
</html>