@page
@inject ICMSService _cmsService
@inject DataLibrary.DataContext Db
@inject Util.Helpers.MySqlHelper mySqlHelper
@functions{
    public DataLibrary.SiteBasic SiteBasic { get; set; }
    /// <summary>
    /// 查询记录（多条）
    /// </summary>
    public List<DataLibrary.PdProduct> Products { get; set; }

    // 产品模型
    public DataLibrary.PdProduct PdProduct { get; set; }

    public DataLibrary.BaseProductClass ProductClass { get; set; }

    // 材质
    public DataLibrary.BaseProductMaterial Material { get; set; }

    // 规格
    public DataLibrary.BaseSpecifications Spec { get; set; }

    // 班组
    public DataLibrary.PdWorkshopTeam PdWorkshopTeam { get; set; }

    public DataLibrary.PdWorkshop PdWorkshop { get; set; }

    public List<DBModel> dBModels { get; set; }
    public class DBModel
    {
        public string PrintNo { get; set; }

        public int Createtime { get; set; }

        public string Consignor { get; set; }

        public decimal Number { get; set; }
    }
    /// <summary>
    /// Gets or sets 出库纪录
    /// </summary>
    public DataLibrary.PdStockOut PdStockOut { get; set; }

    public void OnGet(string batcode, string validcode)
    {
        var bc = batcode;
        var vc = validcode;
        if (string.IsNullOrEmpty(bc) && string.IsNullOrEmpty(vc))
        {
            bc = this.Request.Query["c"];
            vc = this.Request.Query["r"];
        }

        if (this._cmsService.IuserService.IsAuth)
        {
            var sqlStr = string.Format(
                @"select a.printno,a.createtime,a.consignor,SUM(b.number) as number,a.id as id from saleprintlog  a
                        inner JOIN saleprintlogdetail b on a.id=b.printid
                        inner JOIN salesellerauth c on b.authid=c.Id
                        WHERE c.Sellerid={0} and a.status={1} and c.batcode='{2}' ", 
                        this._cmsService.IuserService.SaleSellerUser.Id,
                        (int)SalePrintlogStatus.已下载,
                        bc);

            sqlStr += $" GROUP BY a.printno,b.number,a.Createtime,a.consignor, a.id order by a.id desc ";
            var dicList = this.mySqlHelper.ExecuteList<DBModel>(sqlStr, null, System.Data.CommandType.Text);
            dBModels = dicList;
        }
        this.SiteBasic = (from c in this.Db.SiteBasic select c).ToList()[0];

        this.Products = this.Db.PdProduct.Where(x => x.Batcode == bc && x.Randomcode == vc).OrderBy(p => p.Batcode).ToList();
        
    }
}
@{
    ViewData["Title"] = "服务";
    ViewData["Desc"] = "服务";
    ViewData["Tag"] = 2;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
}
@section head
    {
    <link href="/Content/css/service.css" rel="stylesheet" />
    <link href="/Content/css/search_result.css" rel="stylesheet" />
    @*<link href="/Content/js/layui/css/layui.css" rel="stylesheet" />*@
    <script type="text/javascript" src="/Content/js/layui/layui.js"></script>
    <script type="text/javascript" src="/Content/js/login.js"></script>
}

@if (Model.Products == null || Model.Products.Count <= 0)
{
    <div class="nodata" style="position:initial;padding-top:100px;padding-bottom:100px;height:initial;text-align:center;">
        <img src="~/Content/images/logo_small.png" style="width:10%;" />
        <div class="tip" style="color:gray;padding:10px 0px;">
            暂无产品信息！
        </div>
    </div>
}
else
{
<div class="container-fluid content">
    <div class="row service title">
        <div class="col-xs-12">
            <img src="/Content/images/logo_small.png" />
            <span>江苏鸿泰钢铁有限公司</span>
        </div>
    </div>
    @{
        var i = 0;
        @if (Model.Products.Count > 1)
        {
            <div style="line-height:40px;">你好！本次查询结果有多条记录：</div>
        }

        @foreach (var pd in Model.Products)
        {
            i++;
            if (pd != null)
            {
                this.PdProduct = pd;
                this.ProductClass = this.Db.BaseProductClass.FirstOrDefault(x => x.Id == pd.Classid);
                this.Material = this.Db.BaseProductMaterial.FirstOrDefault(x => x.Id == pd.Materialid);
                this.Spec = this.Db.BaseSpecifications.FirstOrDefault(x => x.Id == pd.Specid);
                this.PdWorkshopTeam = this.Db.PdWorkshopTeam.FirstOrDefault(x => x.Id == pd.WorkShift);
                this.PdWorkshop = this.Db.PdWorkshop.FirstOrDefault(x => x.Id == this.PdWorkshopTeam.WorkshopId);
                this.PdStockOut = this.Db.PdStockOut.FirstOrDefault(c => c.Productid == pd.Id);
            }
            <div class="row search_result">
                @if (Model.Products.Count > 1)
                {
                    <div>第<span style="display:inline">@i</span>条记录：</div>
                }
                <div class="col-xs-12">
                    <table class="table">
                        <tr>
                            <td>产品名称:</td>
                            <td>@Model.ProductClass.Gbname</td>
                            <td>牌号</td>
                            <td>@Model.Material.Name</td>
                        </tr>
                        <tr>
                            <td>规格:</td>
                            <td>@Model.Spec.Specname</td>
                            <td>定尺:</td>
                            <td>@Model.PdProduct.Length</td>
                        </tr>
                        <tr>
                            <td>重量:</td>
                            <td>@Html.Raw(Convert.ToInt32(Model.Spec.Refermeterweight * Model.Spec.Referlength * Model.Spec.Referpiececount))@Html.Raw("  kg")</td>
                            <td>车间编号:</td>
                            <td>@Model.PdWorkshop.Code</td>
                        </tr>
                        <tr>
                            <td>批号:</td>
                            <td>@Model.PdProduct.Batcode</td>
                            <td>批号校验码:</td>
                            <td>@Model.PdProduct.Randomcode</td>
                        </tr>
                        <tr>
                            <td>捆号:</td>
                            <td>@Model.PdProduct.Bundlecode</td>
                            <td>支数:</td>
                            <td>@Model.PdProduct.Piececount</td>
                        </tr>
                        <tr>
                            <td>生产班组:</td>
                            <td colspan="3">@Model.PdWorkshopTeam.TeamName</td>
                        </tr>
                        <tr>
                            <td>生产日期:</td>
                            <td colspan="3">@Util.Extensions.GetDateTimeFromUnixTime((long)Model.PdProduct.Createtime).ToString("yyyy年MM月dd日")</td>
                        </tr>
                        @*<tr>
                <td>出厂日期:</td>
                <td colspan="3">
                    @if (Model.PdStockOut != null && Model.PdStockOut.Createtime.HasValue)
                    {
                        <p>@(((long)Model.PdStockOut.Createtime.Value).GetDateTimeFromUnixTime().ToString("yyyy年MM月dd日"))</p>
                    }
                    else
                    {
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;日</p>
                    }
            </td>
        </tr>*@
                        <tr>
                            <td>查询官网:</td>
                            <td colspan="3">@mngSetting.Domain_PC</td>
                        </tr>
                        <tr>
                            <td>公司地址:</td>
                            <td colspan="3">江苏省镇江市谏壁镇东陶村</td>
                        </tr>
                    </table>
                </div>
            </div>
        }

    }
</div>
@if (!this._cmsService.IuserService.IsAuth)
{
    <div class="container-fluid content print">
        <div class="row service title">
            <div class="col-xs-12">
                <img src="/Content/images/title_print.png" />
                <span>打印产品质量证明书</span>
            </div>
        </div>
        <div class="row print_result">
            <div class="col-xs-12">
                <div class="print-cert-form">
                    <div class="form-group">
                        <div class="text-center">
                            <span>手机号</span>
                        </div>
                        <div>
                            <input type="text" id="UserName" name="UserName" placeholder="请输入手机号码">
                        </div>
                        <div>
                            <button name="validcode" id="sendcode" class="btn btn-primary btn_code">发送验证码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <span>验证码</span>
                        </div>
                        <div>
                            <input type="text" id="Code" name="Code" placeholder="请输入验证码">
                        </div>
                    </div>
                    <p>请通过您的供货商获取电子《产品质量证明书》授权，登录官网下载</p>
                    <input type="hidden" name="SystemMemberType" id="SystemMemberType" value="@Convert.ToInt32(DataLibrary.EnumList.SystemMemberType.Seller)" />
                    <button type="submit" id="btnLogin_ByPhone" class="btn btn-primary btn-lg btn-block query">确定</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="container-fluid content print">
        <div class="row service title">
            <div class="col-xs-12 list">
                <img src="/Content/images/title_print.png" />
                <span>打印产品质量证明书</span>
            </div>
        </div>
        <div class="thead">
            <div class="tr">
                <span>打印编号</span>
                <span>产品件数</span>
                <span>生成时间</span>
            </div>
        </div>
        @if (dBModels != null && dBModels.Any())
        {
            foreach (var item in dBModels)
            {
                <div class="detail" pid="@item.PrintNo">
                    <div class="tbody">
                        <div class="btr">
                            <div class=" td">
                                <span>@item.Consignor</span>
                                <span>@item.PrintNo</span>
                            </div>
                            <div class="td js">1件</div>
                            <div class="td js">
                                <span class="sj">@item.Createtime.ToLong().GetDateTimeFromUnixTime().ToString("yyyy/MM/dd")</span>
                                <i class="jt">@Html.Raw($"{item.Number}件")</i>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="nodata" style="position:initial;padding-top:100px;padding-bottom:100px;height:initial;">
                <img src="~/Content/images/nodata.png" style="width:40%;" />
                <div class="tip" style="color:gray;padding:10px 0px;">
                    没有查到相关质量证明书
                </div>
            </div>
        }
    </div>
}
}
        <style type="text/css">
            .container-fluid.footer {
                margin-bottom: 55px;
            }

            .nav-bottom ul li a img {
                margin-bottom: 5px;
            }
        </style>

        <script>
    $(function () {
        $('.detail').click(function () {
            var pid = $(this).attr('pid');
            window.location.href = '@Html.Raw($"{this._cmsService.GetSetting().Domain_WAPManage}WarrantyBook/")' + pid;
        });
    })
        </script>
