@page
@inject ICMSService _cmsService
@inject DataLibrary.DataContext Db
@functions{
    public DataLibrary.SiteBasic SiteBasic { get; set; }

    /// <summary>
    /// 查询记录（多条）
    /// </summary>
    public List<DataLibrary.PdProduct> Products { get; set; }

    // 产品模型
    public DataLibrary.PdProduct PdProduct { get; set; }

    public DataLibrary.BaseProductClass ProductClass { get; set; }

    // 材质
    public DataLibrary.BaseProductMaterial Material { get; set; }

    // 规格
    public DataLibrary.BaseSpecifications Spec { get; set; }

    // 班组
    public DataLibrary.PdWorkshopTeam PdWorkshopTeam { get; set; }

    public DataLibrary.PdWorkshop PdWorkshop { get; set; }

    /// <summary>
    /// Gets or sets 出库纪录
    /// </summary>
    public DataLibrary.PdStockOut PdStockOut { get; set; }

    public void OnGet(string batcode, string validcode)
    {
        var bc = batcode;
        var vc = validcode;
        if (string.IsNullOrEmpty(bc) && string.IsNullOrEmpty(vc))
        {
            bc = this.Request.Query["c"];
            vc = this.Request.Query["r"];
        }

        this.SiteBasic = (from c in this.Db.SiteBasic select c).ToList()[0];

        this.Products = this.Db.PdProduct.Where(x => x.Batcode == bc && x.Randomcode == vc).OrderBy(p => p.Batcode).ToList();
    }
}
@{
    ViewData["Title"] = "服务中心";
    ViewData["Desc"] = "服务中心";
    ViewData["Tag"] = 6;
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    ViewBag.SiteBasic = siteBasic;
    ViewBag.SiteSetting = mngSetting;
}
@section head
    {
    <link href="/Content/css/search_result.css" rel="stylesheet" />
    <link href="/Content/js/layui/css/layui.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/layui/layui.js"></script>
    <script type="text/javascript" src="/Content/js/login.js"></script>
}
<div class="location_box">
    <div class="location">
        <span>&nbsp;服务中心</span>
        <span>您当前的位置： 首页 > </span>
        <div class="clearfix"></div>
    </div>
</div>

@if (Model.Products == null || Model.Products.Count <= 0)
{
    <div class="nodata" style="position:initial;padding-top:100px;padding-bottom:100px;height:initial;text-align:center;">
        <div class="tip" style="color:gray;padding:10px 0px;">
            暂无产品信息！
        </div>
    </div>
}
else
{
    <div class="search_result">
        <div class="quality_certificate">
            <div class="service_title">
                <span class="pic cssr_service1"></span>
                <h1>产品质量证明书</h1>
                <div class="clearfix"></div>
            </div>

            @{
                var i = 0;
                @if (Model.Products.Count > 1)
                {
                    <div style="line-height:40px;">你好！本次查询结果有多条记录：</div>
                }

                @foreach (var pd in Model.Products)
                {
                    i++;
                    if (pd != null)
                    {
                        this.PdProduct = pd;
                        this.ProductClass = this.Db.BaseProductClass.FirstOrDefault(x => x.Id == pd.Classid);
                        this.Material = this.Db.BaseProductMaterial.FirstOrDefault(x => x.Id == pd.Materialid);
                        this.Spec = this.Db.BaseSpecifications.FirstOrDefault(x => x.Id == pd.Specid);
                        this.PdWorkshopTeam = this.Db.PdWorkshopTeam.FirstOrDefault(x => x.Id == pd.WorkShift);
                        this.PdWorkshop = this.Db.PdWorkshop.FirstOrDefault(x => x.Id == this.PdWorkshopTeam.WorkshopId);
                        this.PdStockOut = this.Db.PdStockOut.FirstOrDefault(c => c.Productid == pd.Id);
                    }
                    @if (Model.Products.Count > 1)
                    {
                        <div>第<span style="display:inline">@i</span>条记录：</div>
                    }
                    <div class="result">

                        <span class="pic cssr_logo_red"></span>
                        <div class="result_details">
                            <div class="result_row">
                                <div class="div div1"><span>产品名称:</span><span>@Model.ProductClass.Gbname</span></div>
                                <div class="div div2"><span>牌号:</span><span>@Model.Material.Name</span></div>
                                <div class="div div3"><span>定尺:</span><span>@Model.PdProduct.Length</span></div>
                                <div class="div div4"><span>重量:</span><span>@Html.Raw(Convert.ToInt32(Model.Spec.Refermeterweight * Model.Spec.Referlength * Model.Spec.Referpiececount))@Html.Raw("  kg")</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="result_row">
                                <div class="div div1"><span>生产班组:</span><span>@Model.PdWorkshopTeam.TeamName</span></div>
                                <div class="div div2"><span>批号:</span><span>@Model.PdProduct.Batcode</span></div>
                                <div class="div div3"><span>捆号:</span><span>@Model.PdProduct.Bundlecode</span></div>
                                <div class="div div4"><span>车间编号:</span><span>@Model.PdWorkshop.Code</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="result_row">
                                <div class="div div1"><span>生产日期:</span><span>@Util.Extensions.GetDateTimeFromUnixTime((long)Model.PdProduct.Createtime).ToString("yyyy年MM月dd日")</span></div>
                                <div class="div div2"><span>支数:</span><span>@Model.PdProduct.Piececount</span></div>
                                <div class="div div3"><span>规格:</span><span>@Model.Spec.Specname</span></div>
                                <div class="div div4"><span>批号校检码:</span><span>@Model.PdProduct.Randomcode</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="result_row result_row1">
                                <div class="div div1">
                                    <span>出厂日期:</span>
                                    <span>
                                        @if (Model.PdStockOut != null && Model.PdStockOut.Createtime.HasValue)
                                        {
                                            @(((long)Model.PdStockOut.Createtime.Value).GetDateTimeFromUnixTime().ToString("yyyy年MM月dd日"))
                                        }
                                        else
                                        {
                                            <e>&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;日</e>
                                        }
                                    </span>
                                </div>
                                <div class="div div2"><span>指定查询官网:</span><span>@mngSetting.Domain_PC</span></div>
                                <div class="div div2"><span>公司地址:</span><span>江苏省镇江市谏壁镇东陶村</span></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

        <div class="stamp_box">
            <div class="service_title">
                <span class="pic cssr_service4"></span>
                <h1>打印《产品质量证明书》</h1>
                <div class="clearfix"></div>
            </div>
            <div class="stamp">
                <div class="form-group">
                    <span>手机号：</span>
                    <input type="text" id="UserName" name="UserName" placeholder="请输入手机号">
                    <button name="validcode" id="sendcode" class="btn btn-primary btn_code">发送验证码</button>
                    <div class="clearfix"></div>
                </div>
                <small>请通过您的供货商获取电子《产品质量证明书》授权，登录官网下载</small>
                <div class="form-group">
                    <span>验证码：</span>
                    <input type="text" id="Code" name="Code" placeholder="请输入验证码">
                    <input type="hidden" name="SystemMemberType" id="SystemMemberType" value="@Convert.ToInt32(DataLibrary.EnumList.SystemMemberType.Seller)" />
                    <input class="bbt" style="width: 160px;" type="submit" id="btnLogin_ByPhone" value="确定" />
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
}
<style>
    .bbt {
        float: left;
        display: block;
        border-radius: 4px;
        color: white;
        border: 1px solid #d58804;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        padding: 0;
        margin: 0;
        background: #d58804;
    }
</style>
