@page
@inject ICMSService _cmsService
@using System.Text.RegularExpressions;
@using Microsoft.AspNetCore.Http;
@{
    var siteBasic = _cmsService.GetBasic();
    var mngSetting = _cmsService.GetSetting();
    string strUserAgent = this.Request.Headers["User-Agent"].ToString().ToLower();

    if (strUserAgent.Contains("mobile"))
    {
        this.Response.Redirect(mngSetting.Domain_WAP,false);
    }
}
@functions{

  

    public bool IsFirstLogin { get; set; }

    public void OnGet(string t)
    {
        if (!string.IsNullOrWhiteSpace(t) && t.ToLower() == "first")
        {
            this.IsFirstLogin = true;
        }
        else
        {
            this.IsFirstLogin = false;
        }
    }
}
@section head
    {
    <style type="text/css">
        #partd {
            background-color: #fff;
            margin-bottom: 15px;
        }
    </style>
}


<div id="main" class="part" style="background:none;">
    <div id="parta" class="part">
        <div id="jdtp">
            <ul class="pic" id="pic">
                @if (siteBasic.CarouselImage.SafeString() != string.Empty)
                {
                    for (var i = 0; i < siteBasic.CarouselImage.Object.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li>
                                <a href="javascript:void(0)" target="_blank">
                                    <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@siteBasic.CarouselImage.Object[i]" width="100%" />
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="javascript:void(0)" target="_blank">
                                    <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@siteBasic.CarouselImage.Object[i]" width="100%" />
                                </a>
                            </li>

                        }
                    }
                }
            </ul>
            <a id="js_banner_pre" href="javascript:void(0)" class="prev"></a>
            <a id="js_banner_next" href="javascript:void(0)" class="next"></a>
        </div>
    </div>
    <div id="partb" class="part">
        <div id="gsjj" class="fl">
            <div class="hd"></div>
            <div class="con">
                <span>
                    @*<img src="/Content/images/585a353f4058e.jpg" />*@
                    <video controls="" loop="" onended="var v=this;setTimeout(function(){v.play()},300)" style="height: 125px; width:100%; background:#000;" title="闽源钢铁股份有限公司">
                        <source src="http://mygtjt.xiaoyutt.com/UploadFile/video/mytgjt.mp4" type="video/mp4">
                    </video>
                    @*<iframe frameborder="0" style="width:100%;height:212.25px;" src="https://v.qq.com/iframe/player.html?vid=v0540wjat4d&tiny=0&auto=0" allowfullscreen></iframe>*@
                </span>
                @{
                    var about = _cmsService.GetSinglePage("关于闽源");
                    if (about != null)
                    {
                        <div class="simpleintroduct">

                            @Html.Raw(about.Descrption.ToString().Substring(0, 70) + "...")
                        </div>
                    }
                }
                <div class="more"><a href="/CompanyDescription/Introduction"></a></div>
            </div>
        </div>
        <div id="xwzx" class="fl">
            <div class="hd" style="background-position:0 -40px;"></div>
            <ul>
                @{
                    var News = _cmsService.IcontentColumnDataService.GetContentColumnDataList("闽源新闻", 1, 5);
                    if (News != null)
                    {
                        for (var i = 0; i < News.Count; i++)
                        {
                            if (Convert.ToInt32(News[i]["NewsType"]) == 1)
                            {
                                <li>
                                    <a href="/News/IndexDetail/@Html.Raw(News[i]["cid"] + "/" + News[i]["Id"] + ".html")">
                                        @Html.Raw(News[i]["Title"])
                                    </a>
                                </li>
                            }
                        }
                    }
                }
            </ul>
            <div class="more"><a href="/News/0-1.html" target="_blank"></a></div>
        </div>
        <div id="lxwm" class="fr">
            <div class="hd" style="background-position:0 -80px;"></div>
            <div class="con">
                @{
                    var Phone = _cmsService.IcontentColumnDataService.GetContentColumnDataList("联系闽源", 1, 5);
                    if (Phone != null)
                    {
                        foreach (var P in Phone)
                        {
                            <p>
                                <span style="line-height:1.5;">公司地址：@Html.Raw(P["Address"])</span>
                            </p>
                            <p>
                                <span style="line-height:1.5;"></span>邮政编码：@Html.Raw(P["ZipCode"])
                            </p>
                            <p>
                                联系电话：@Html.Raw(P["Phone"])
                            </p>
                            <p>
                                传 真：@Html.Raw(P["Fax"])
                            </p>
                            <p>
                                E-mail：<a href="mailto:@Html.Raw(P["Email"])">@Html.Raw(P["Email"])</a>
                            </p>
                            <p>
                                访问域名：<a href="@Html.Raw(P["Url"])">@Html.Raw(P["Url"])</a>
                            </p>
                        }
                    }
                }
                <p>
                    <br />
                </p>
                <p>
                    <br />
                </p>
            </div>
            <div class="more"><a href="/CompanyDescription/ContactUs"></a></div>
        </div>


    </div>
    <div id="partd" class="part">
        <div id="myfc">
            <div class="hd"></div>
            <div class="content" style="margin-bottom:70px;">
                @{
                    var qfengcai = _cmsService.IcontentColumnDataService.GetContentColumnDataList("闽源风采", 1, 10);
                    if (qfengcai != null)
                    {
                        for (var i = 0; i < qfengcai.Count; i++)
                        {
                            <a href="FengCai/@Html.Raw(qfengcai[i]["cid"]+ "/" + qfengcai[i]["Id"]+ ".html")">
                                <div class="row_box left_row" @if (i % 2 != 0) { @Html.Raw("style='margin-left:20px;'") }>
                                    @if (qfengcai[i]["Image"].SafeString() != string.Empty)
                                    {
                                        <div class="picture"><img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@qfengcai[i]["Image"].ToString().Split(',')[0]" /></div>
                                    }
                                    <div class="detail">
                                        <h2>@Html.Raw(qfengcai[i]["Title"])</h2>
                                        <span style="font-size:13px;">
                                            @{
                                                if (!string.IsNullOrEmpty(qfengcai[i]["Content"].ToString()))
                                                {
                                                    var content = Util.Extensions.RemoveHtml(qfengcai[i]["Content"].ToString());
                                                    if (content.Length > 90)
                                                    {
                                                        content = content.Substring(0, 90) + "...";
                                                    }
                                                    @Html.Raw(content)
                                                }
                                            }

                                        </span>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                }
                <div class="clearfix"></div>

            </div>
        </div>

    </div>
    <div id="partc" class="part">
        <ul id="cpzx">
            @{
                var Sence = _cmsService.IcontentColumnDataService.GetContentColumnDataList("产品电子目录", 1, 6);
                if (Sence != null)
                {
                    for (var i = 0; i < Sence.Count; i++)
                    {
                        <li>
                            <a href="/ProductService/Detail/@Html.Raw(Sence[i]["cid"]+ "/" + Sence[i]["Id"] + ".html")" class="mien_box left_box">
                                <img src="@mngSetting.Domain_PC.Substring(0, mngSetting.Domain_PC.Length - 1)@Sence[i]["Image"].ToString().Split(',')[0]" width="205" height="58" />
                            </a>
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>


<script type="text/javascript">
    $("#nav").slide({ type: "menu", titCell: ".nLi", targetCell: ".sub", effect: "slideDown", delayTime: 300, triggerTime: 0, returnDefault: true });
    $("#jdtp").slide({ effect: "left", easing: "swing", mainCell: ".pic", autoPage: "none", autoPlay: true });
    $(document).ready(function () {
        $("#scrollbox li").mouseenter(function () {
            $(this).addClass("hover");
        });
        $("#scrollbox li").mouseleave(function () {
            $(this).removeClass("hover");
        });
        $(".gotop").click(function () {
            if (scroll == "off") return;
            $("html,body").animate({ scrollTop: 0 }, 600);
        });
    });
    var qq = 403849650;
    var mobile = 4006592878;
</script>
<script type="text/javascript" src="/Content/js/scroll.js"></script>
